[2016-09-09 12:43] jmcanterafonseca opened #8 "Link TimeInstant documentation to the data models"

[2016-09-09 12:44] jmcanterafonseca opened #9 "Add CUPS and other parameters to street light"

[2016-09-09 12:44] jmcanterafonseca opened #10 "rename `dateUpdated` to `timestamp` to comply with GSMA's `ExtQuantitativeValue`"

[2016-09-09 12:45] jmcanterafonseca opened #11 "[Parking] Revise parking spot"

[2016-09-09 12:45] jmcanterafonseca opened #12 "[Parking] Revise parking access"

[2016-09-09 12:46] jmcanterafonseca opened #13 "Revise WasteContainer weight and related stuff"

[2016-09-09 12:46] jmcanterafonseca opened #14 "[Device] Draft Device entity type taking GSMA's Device as input"

[2016-09-13 12:15] gtorodelvalle opened #16 "[Parking] OffStreetParking doc examples include not documented properties"
In https://github.com/Fiware/dataModels/blob/master/Parking/OffStreetParking/doc/spec.md there are some examples in the lower part including properties such as `maximumParkingDuration` which are not documented, including its purpose and other details such as the type.

[2016-09-20 10:56] gtorodelvalle opened #18 "Point all https://github.com/telefonicaid/iotagent-node-lib/blob/develop/README.md#TimeInstant references to master"
Basically the idea is to substitute all the `https://github.com/telefonicaid/iotagent-node-lib/blob/develop/README.md#TimeInstant` references by `https://github.com/telefonicaid/iotagent-node-lib/blob/master/README.md#TimeInstant` once the changes already made in the https://github.com/telefonicaid/iotagent-node-lib and related to this lands in master.

[2016-09-20 13:46] jmcanterafonseca commented on #16
oh it is documented but there is a typo

maximumAParkingDuration vs maximumParkingDuration

[2016-09-20 14:52] jmcanterafonseca opened #20 "[Parking] add floorNumber to ParkingGroup"

[2016-09-21 10:24] jmcanterafonseca opened #22 "[Parking] should we allow nested ParkingGroups?"

[2016-09-22 16:17] jmcanterafonseca opened #24 "[Parking] occupancyDetectionType only one value at ParkingGroup level"

[2016-09-22 16:17] jmcanterafonseca opened #25 "check mandatory attributes for the different entities"
another iteration

[2016-09-23 09:59] jmcanterafonseca opened #26 "[Lighting] reactiveEnergyConsumed : unit acronym should say kVArh"

[2016-09-23 10:00] jmcanterafonseca opened #27 "[Lighting] clarify that phase names could be 'R' , 'S', 'T' or other names internationally accepted"

[2016-09-23 10:49] jmcanterafonseca commented on #13
closing as this has been fixed by introducing the `cargoWeight` property.

[2016-09-23 10:49] #13 closed

[2016-09-23 10:49] jmcanterafonseca commented on #8
closed, this has been fixed.

[2016-09-23 10:49] #8 closed

[2016-09-23 11:03] jmcanterafonseca opened #29 "[Vehicle] Draft Vehicle entity taking schema.org and GSMA as input"

[2016-09-23 11:03] jmcanterafonseca opened #30 "[Waste] Draft Litter entity type"

[2016-09-23 12:47] jmcanterafonseca opened #32 "add link to DATEX II browser"
http://datexbrowser.tamtamresearch.com/

[2016-09-27 09:02] jmcanterafonseca opened #33 "[Parking] revisit status property of parking entities"

[2016-09-27 09:03] jmcanterafonseca opened #34 "[Parking] model parking temporal (special) restrictions, temporal closes, etc."

[2016-09-27 09:04] jmcanterafonseca commented on #10
fixed

[2016-09-27 09:04] #10 closed

[2016-09-27 09:04] jmcanterafonseca commented on #20
this should be named just `floor`

[2016-09-27 15:06] #16 closed

[2016-09-28 15:08] jmcanterafonseca opened #38 "[Vehicle] Add additional services provided"

[2016-09-28 15:10] jmcanterafonseca opened #39 "[Vehicle] Think about a features property"
to represent for instance buses with disabled ramps, or lorries with special equipment or to differentiate between different kinds of equipment

[2016-09-28 15:20] jmcanterafonseca opened #40 "[Vehicle] Model entities of type carriage used by street cleaners"
"carritos"

[2016-09-28 15:23] jmcanterafonseca opened #41 "[Parking] Revise status property of the parking data models"

[2016-09-30 10:57] jmcanterafonseca opened #43 "[ENV] Add barometric pressure and solar radiation to the environment data models"

[2016-09-30 11:09] jmcanterafonseca commented on #29
fixed. vehicle entity already present.

[2016-09-30 11:09] #29 closed

[2016-09-30 12:00] jmcanterafonseca opened #46 "move water quality data models to environment"

[2016-09-30 12:00] jmcanterafonseca opened #47 "revise waste container data models to align. ex. dateCreated."

[2016-09-30 12:01] jmcanterafonseca opened #48 "draft weather data models (forecast and observed)"

[2016-09-30 12:02] jmcanterafonseca opened #49 "draft air quality thresholds entity type"

[2016-09-30 12:03] jmcanterafonseca commented on #27
fixed

[2016-09-30 12:03] #27 closed

[2016-09-30 12:04] jmcanterafonseca commented on #32
fixed

[2016-09-30 12:04] #32 closed

[2016-09-30 12:04] jmcanterafonseca commented on #26
fixed

[2016-09-30 12:04] #26 closed

[2016-10-03 13:35] jmcanterafonseca opened #50 "add heading property to vehicle"

[2016-10-03 13:35] jmcanterafonseca opened #51 "clarify how altitude can be used in the data models"

[2016-10-03 13:36] jmcanterafonseca opened #52 "think about a property to convey what mission is delivering the vehicle"
y algo tipo "servicio" o misión o similar. La ruta, o si está atendiendo una llamada, una incidencia...algo que especifique una tarea concreta que tenga encomendada ese vehículo en ese momento

[2016-10-04 08:39] jmcanterafonseca opened #55 "align water quality with GSMA and air quality"

[2016-10-06 08:42] jmcanterafonseca commented on #50
fixed

[2016-10-06 08:42] #50 closed

[2016-10-06 09:10] jmcanterafonseca commented on #43
fixed

[2016-10-06 09:10] #43 closed

[2016-10-06 14:54] jmcanterafonseca opened #58 "Draft NoiseLevelObserved entity type"
using input from the FI-Sonic project.

[2016-10-07 11:38] jmcanterafonseca opened #62 "Align all data models with the new Device data model"
defining an attribute named `refDevice` which will point to an entity of type `Device`.

[2016-10-07 11:45] #18 closed

[2016-10-07 13:01] jmcanterafonseca commented on #14
fixed

[2016-10-07 13:01] #14 closed

[2016-10-07 13:02] jmcanterafonseca commented on #38
fixed

[2016-10-07 13:02] #38 closed

[2016-10-07 13:02] jmcanterafonseca commented on #52
added the `serviceStatus` property, probably we are going to need more values in the enumeration. Leaving it open for now.

[2016-10-07 13:03] jmcanterafonseca commented on #40
fixed

[2016-10-07 13:03] #40 closed

[2016-10-07 13:03] jmcanterafonseca commented on #39
fixed

[2016-10-07 13:03] #39 closed

[2016-10-07 13:03] jmcanterafonseca commented on #46
fixed

[2016-10-07 13:03] #46 closed

[2016-10-07 13:05] jmcanterafonseca opened #63 "[Alarm] Draft Alarm entity type"

[2016-10-07 13:05] jmcanterafonseca opened #64 "[Green] Draft Parks, Gardens and related stuff"

[2016-10-07 13:05] jmcanterafonseca opened #65 "[POI] Draft point of interest entity type (and sub entity types)"

[2016-10-10 07:40] jmcanterafonseca opened #66 "[Device] Draft attributes to model Precision and accuracy"

[2016-10-10 07:41] jmcanterafonseca opened #67 "[Device] Include `beacon` as device category"

[2016-10-10 07:42] jmcanterafonseca opened #68 "[Device] Revisit supportedProtocols"
include Bluetooth, Bluetooth LE, etc.

[2016-10-10 07:42] jmcanterafonseca opened #69 "[Device] Revisit mac addresses etc."

[2016-10-10 07:46] jmcanterafonseca opened #70 "align `dateServiceStarted` with `dateFirstUsed`"
for all the data models and for alignment purposes with GSMA IoTBDE (when it makes sense).

[2016-10-25 14:02] LeonanCarvalho opened #75 "What's the difference between 'timestamp' and 'dateModified'?"
In some datamodels are used 2 different attribute name to represent time instant,  `timestamp` or `dateModified`.

For exemple in [Device](https://github.com/Fiware/dataModels/blob/master/Device/Device/doc/spec.md)  on `batteryLevel` are used `timestamp` and on `configuration`, `dateModified`.

It's sounds quite similar. The difference between this two attributes justify use a two different names?

[2016-10-25 14:46] LeonanCarvalho opened #76 "Would be nice to have a json schema for each data model"
The documentation is easily readable to humans. Thinking about machine-readable concept would be nice to have a file containing the JSON data model schema because markdown isn't a good structure to do that, anyway using this format could be easily consumed by developers also.

Despite having a pretty good [documentation](https://www.fiware.org/data-models/), references and links, there is no kind

[2016-10-25 18:14] LeonanCarvalho commented on #75
Posted at https://ask.fiware.org/question/633/at-datamodels-whats-the-difference-between-timestamp-and-datemodified/

[2016-10-25 18:14] #75 closed

[2016-10-27 17:31] LeonanCarvalho opened #77 "[Vehicle] "heading" or "Azimuth"? Terminology review"
The value thats represent direction degrees relative to north is common called [azimuth](https://en.wikipedia.org/wiki/Azimuth), an azimuth is an angular measurement in a spherical coordinate system.
Looking for a terminology, on VM9 models we use azimuth as terminology because this post:

Source: http://aviation.stackexchange.com/questions/24899/what-is-the-difference-between-azimuth-and-heading

[2016-10-28 09:46] jmcanterafonseca commented on #76
thanks for this input. I think it would be great to have a JSON, machine readable description of each of the data models. That would eventually allow us to automatically generate the markdown documentation file associated to each data model.

Any contribution would be very welcome. For instance, you can start by contributing the example you have described in this issue.

[2016-10-31 13:21] LeonanCarvalho commented on #76
Thank your for the appreciation.

I'll send a pull request and I'm open to discus this model with you. I'll include Professor @flaviosilva on this conversation, may he could help us to improve and review this schemas.
On this pull I'll send the schemas for Device, DeviceModel, WaterQualityObserved, Vehicle, VehicleModel.

[2016-10-31 15:45] jmcanterafonseca commented on #76
thanks Leonan, but please use one pull request per entity type, that would
make it easier the review process

best

2016-10-31 14:21 GMT+01:00 José Leonan S. Carvalho <notifications@github.com

[2016-11-02 14:04] flaviosilva commented on #76
@LeonanCarvalho  and @jmcanterafonseca ,

It really makes sense a DataModel Schema. In some way, this remembers me the Web Services Description Language (WSDL) - https://www.w3.org/TR/wsdl - WSDL is used to describe an Web Service in a machine readable format.
We are open to contribute to this initiative!

I would suggest follow guidelines defined under IETF to the schema (https://tools.ietf.org/i

[2016-11-08 18:15] LeonanCarvalho commented on #76
That's the point! Thanks!

The guidelines defined under  [IETF]( https://tools.ietf.org/id/draft-zyp-json-schema-04.html) should be enough to clarify some questions, like how to represent normative references of attributes.

I would like to read it deep this requirements to better understand and then adjust the models suggested on #81 , #82 , #83 , #84 and #85  pull requests.

On a second moment i

[2016-12-01 08:52] jmcanterafonseca opened #88 "For WeatherObserved include accumulated values on a daily basis"
use this information as reference:

http://www.aemet.es/es/eltiempo/observacion/ultimosdatos/ayuda

[2016-12-02 10:25] jmcanterafonseca opened #91 "include measurement ranges of Devices"
include max and minimum values that can be reported by a sensor

[2016-12-02 10:26] jmcanterafonseca opened #92 "include air quality index in airqualityobserved"

[2017-01-17 17:23] LeonanCarvalho commented on #88
Another format that I know (used here http://150.163.255.234/salvar/mapa_interativo/interativo/grafico_CEMADEN.php?idpcd=3276&uf=RJ#infopcds)
Include accumulated values of  1,6,12,24,72 and	96 hours

[2017-02-01 16:52] jmcanterafonseca commented on #48
closed. Weather data models are already available

[2017-02-01 16:52] #48 closed

[2017-02-01 16:53] jmcanterafonseca commented on #55
fixed by PR #99

[2017-02-01 16:53] #55 closed

[2017-03-08 11:22] rjfv opened #106 "Update Transportation link (404)"
![](https://www.fiware.org/wp-content/uploads/tabs-img/data-models/13.png)

Clicking on the Transportation link, available in https://schema.fiware.org or https://www.fiware.org/data-models leads to http://fiware-datamodels.readthedocs.io/en/latest/Vehicle/doc/introduction/index.html which provides a 404 - NOT FOUND.

The correct link should be: http://fiware-datamodels.readthedocs.io/en/latest/Tr

[2017-04-02 17:01] chicco785 opened #107 "https://fiware.github.io/dataModels/common-schema.json is not up-to-date"
in git repository there is this additional property

"EntityIdentifierType": {
      "type": "string",
      "minLength": 1,
      "maxLength": 256,
      "pattern": "^[\\w\\-\\.\\{\\}\\$\\+\\*\\[\\]`|~^@!,:\\\\]+$"
    },

[2017-04-06 08:31] kzangeli opened #108 "About AirQualityThreshold"
The way I understood AirQualityThreshold when reading the documentation was something like a vector of:
[code]
I got surprised later not finding a vector but just an object ...
Might be I simply did not understand this.

[2017-04-11 12:12] chicco785 opened #109 "https://fiware.github.io/dataModels/Weather/weather-schema.json is not referenciable"
apparently the above schema is not yet published on github.io, thus it cannot be referenced through its uri. (which in turn means that validate.sh script cannot be used without modifying it).

[2017-04-16 08:42] chicco785 opened #113 "Unclear difference between name and modelName in Waste Container Model"
The spec states:

- ```name```. Name given to the container model
Normative References: https://schema.org/name
Mandatory

- ```modelName```. Name of the model.
Attribute type: Text
See also: https://schema.org/model
Optional

Also, ```name``` is mandatory in the specification, but it's missing in the example json in the documentation, while ```modelName``` is present.

[2017-04-18 12:42] #106 closed

[2017-04-27 10:37] jmcanterafonseca commented on #64
closing as this has landed today

[2017-04-27 10:37] #64 closed

[2017-05-10 10:04] jmcanterafonseca commented on #107
fixed.

[2017-05-10 10:04] #107 closed

[2017-05-10 10:07] jmcanterafonseca commented on #109
fixed.

[2017-05-10 10:07] #109 closed

[2017-05-12 11:18] jmcanterafonseca opened #126 "align data models with comments coming from smart santander"

[2017-05-12 11:18] jmcanterafonseca opened #127 "refactor point of interaction and fix file location"

[2017-05-19 11:46] chicco785 opened #134 "structure of PointOfInterest model"
Should be the PointOfInterest a basic Model, extended by all the other specific Models?

i.e. the entity stays a PointOfInterest for all submodels, but submodels have specific categories and introduce additional attributes.I find it more appropriate and suitable for generic queries.

Also, for consistency, all scripts to generate data, should be in the "harvest" folder, like for WeatherObserved mo

[2017-05-19 11:48] chicco785 commented on #134
this looks to be the case for WeatherStation, but not for Beach and Museum

{
    "category": "WeatherStation",
    "location": {
      "type": "Point",
      "coordinates": [
        -7.684722222222222,
        43.78611111111111
      ]
    },
    "name": "Estaca de Bares",
    "postalAddress": {
      "addressCountry": "ES",
      "addressLocality": "Mañón",
      "addressRegion": "A Coruña"

[2017-06-05 09:23] jmcanterafonseca opened #135 "provide an example.json for bike sharing data model"
and validate the JSON Schema provided

[2017-06-05 09:24] jmcanterafonseca commented on #135
@sergg75

[2017-07-21 12:48] osfrance opened #137 "404 error when validating schemas"
Hi,
When I try to validate :
  https://raw.githubusercontent.com/Fiware/dataModels/master/Weather/WeatherObserved/schema.json
with data :
  https://raw.githubusercontent.com/Fiware/dataModels/master/Weather/WeatherObserved/example.json
I had an 404 error in :
  https://fiware.github.io/dataModels/common-schema.json#/definitions/Location-Commons
in Line 46 :
  "location": { "$ref": "http://json-sch

[2017-09-12 18:24] PedroMD opened #139 "Question regarding optional metadata on some attributes"
Hello all,

I would like to have some clarification regarding the `metadata` attribute of other **mandatory** attributes whose type is not `StructuredValue`.

As an example, please take a look at the StreetLighting model:
https://github.com/Fiware/dataModels/blob/master/StreetLighting/Streetlight/doc/spec.md

+ `status` : The overall status of this street light.
    + Attribute type: [Text](http:/

[2017-10-03 07:37] jmcanterafonseca commented on #139
hi,

Sorry for the late response. Currently NGSIv2 has two different representation formats

A/ Normalized format on which every attribute is in the form:

[code]

Key values format:
{
  "attributeName": <attributeValue>
}

Internally everything is stored using the normalized format, but if the options=keyValues parameter is used then you can get a key value simplified format response, when queryi

[2017-10-03 07:40] jmcanterafonseca commented on #137
you need to have the geometry.json file locally

[2017-10-03 07:54] jmcanterafonseca commented on #108
closing issue as we are no longer capturing air quality thresholds

[2017-10-03 07:54] #108 closed

[2017-10-03 07:55] jmcanterafonseca commented on #65
closed as we currently have PointOfInterest

[2017-10-03 07:55] #65 closed

[2017-10-03 07:56] jmcanterafonseca commented on #51
it can be used through GeoJSON. Latest versions of Orion allow it as a third component of the coordinates array

[2017-10-03 07:56] #51 closed

[2017-10-03 07:56] jmcanterafonseca commented on #49
closing. no longer needed

[2017-10-03 07:56] #49 closed

[2017-10-03 07:58] jmcanterafonseca commented on #127
@FRDavid please could you work to fix this issue?

[2017-10-03 07:59] jmcanterafonseca commented on #92
already fixed

[2017-10-03 07:59] #92 closed

[2017-10-03 09:10] cclauss opened #147 "Do we want be stricter on flake8 (PEP8) violations on new pull requests?"
__OPTIONAL:__ [.travis.yml](https://github.com/Fiware/dataModels/blob/master/.travis.yml#L9-L12) currently runs flake8 in two passes.  The first pass looks for a handful of crucial errors and fails the build on these.  The second treats all remaining issues only as warnings.  The output looks like this:
* https://travis-ci.org/Fiware/dataModels/jobs/282605654#L1559

If there are any issues such as

[2017-10-03 09:19] FRDavid commented on #127
I'm sorry @jmcanterafonseca, I missed the first message and I'm out of context,

What should I do to complete the task? Could you specify more?

It's about create the [harmonised definition](https://github.com/GSMADeveloper/HarmonisedEntityDefinitions/blob/master/PointOfInterest.md)?

It's about file organization?
- doc/spec.md
- example.json
- schema.json

Best regards and sorry for the inconveni

[2017-10-03 10:31] jmcanterafonseca commented on #147
let's keep as it is for the moment with regards to flake8.

I would force that Travis checks that PEP8 rules are met.

[2017-10-03 10:36] jmcanterafonseca commented on #127
yes  you need to have the same file organization as other data models. That includes creating a schema.json and example.json consistent with the specification of the data model.

[2017-10-03 10:42] jmcanterafonseca commented on #134
we have not put code on the `harvest`folder because it is not a harvesting but an importation from a non public data source.

With regards to the structure, there are two options make everything inherit from 'PointOfInterest' or the suggested approach which is have a reference `seeAlso`from a PointOfInterest entity to another specific entity which provides a concrete description of the place assoc

[2017-10-03 10:44] jmcanterafonseca commented on #58
we already count with this entity type, so closing

[2017-10-03 10:44] #58 closed

[2017-10-03 11:10] FRDavid commented on #127
Ok in file organization. What do you mean with refactor?

[2017-10-03 11:18] jmcanterafonseca commented on #127
for the time being nothing ... but I don't recall

2017-10-03 13:10 GMT+02:00 David <notifications@github.com>:

[2017-10-03 12:32] cclauss commented on #147
These two statements seem to contradict each other.  The first statement says we should not be strict on PEP8 violations and the second says that we should be more strict on PEP8 violations (the [flake8 Exxx](https://pycodestyle.readthedocs.io/en/latest/intro.html#error-codes) issues).

[2017-10-03 14:47] jmcanterafonseca commented on #127
fixed

[2017-10-03 14:47] #127 closed

[2017-10-03 14:50] jmcanterafonseca commented on #147
oh, then I'm totally in favour of forcing compliance with PEP8 rules

I'm afraid we will be failing, would you be able to provide a pull request which solves the issue over all .py files? I guess it is a matter of running autopep8, isn't it?

[2017-10-03 16:02] jmcanterafonseca commented on #147
code landed

do we need to modify the travis.yml recipe as well?

[2017-10-03 16:04] jmcanterafonseca opened #150 "check validity of examples against each json schema"
it is needed to add to the travis build the check of the validity of each example.json against each JSON Schema. please check the validate.sh in order to find how to check the validity of JSON data against JSON Schemas using the ajv tool

[2017-10-03 16:05] jmcanterafonseca commented on #150
@cclauss would you like to work on this?

[2017-10-03 16:08] jmcanterafonseca opened #151 "provide missing JSON Schemas"
there are some data models which JSON Schema is missing. We need to provide it together with the example.json

@cclauss would you like to work on this?

[2017-10-03 16:33] jmcanterafonseca opened #152 "add a badge to the README in order to show build status"
@cclauss would you like to work on this?

[2017-10-03 16:46] jmcanterafonseca commented on #62
closing as this is already fixed

[2017-10-03 16:46] #62 closed

[2017-10-10 09:41] #147 closed

[2017-10-10 09:42] #152 closed

[2017-10-11 10:01] jmcanterafonseca commented on #135
fixed

[2017-10-11 10:01] #135 closed

[2017-10-11 20:40] chicco785 opened #156 "Is correct that areaServed is an attribute of address property?"
https://github.com/Fiware/dataModels/blob/fb59108062c0e60bed2b039428e00a180bc0cea6/common-schema.json#L68

it looks duplicated inside the Location-Commons, as stand alone property and attribute of address property.  while the first case seems correct, the second one seems a mistake (but I may be wrong:))

[2017-10-11 20:42] chicco785 commented on #151
@jmcanterafonseca i have already worked out some of them... may be i can do few pull requests. but first I need to check what i did :) (was few months ago...)

[2017-10-11 20:55] cclauss commented on #150
We would need to add the [ajv](https://github.com/epoberezkin/ajv) tool to the repo.  It is not clear to me how to do that.  Once it is added to the repo, I could work on mods to validate.sh

[2017-10-11 21:46] chicco785 commented on #150
hi, i need to review it, but i create a node-js script that uses ajv to parse all the folders to provide results. this could be called from the .travis.yml to validate pull requests.

[2017-10-12 04:51] chicco785 commented on #150
I created a pull request with the validator #160

[2017-10-12 07:39] chicco785 opened #163 "Example of BikeHireDockingStation is not valid according to the schema"
https://github.com/Fiware/dataModels/blob/fb59108062c0e60bed2b039428e00a180bc0cea6/Transportation/Bike/BikeHireDockingStation/example.json#L18

"status": ["working"]

[2017-10-12 15:30] chicco785 opened #165 "script to generate DataModel and SubDataModel skeletons"
in @smartsdk we have been discussing that such a script could be useful to simplify the creation of validated data models. feelings? would it be worth to spend time on it and including it here?

[2017-10-13 04:29] cclauss opened #167 "Is there a global vs. local issue in read_geojson_data()?"
Does malaga_airqualityobserved_import.py work properly?  [read_geojson_data()](https://github.com/Fiware/dataModels/blob/master/Environment/AirQualityObserved/harvest/malaga_airqualityobserved_import.py#L39) seems to write data to local variables which shadow global variables.  Then other functions look for that data in the global variables.  I would have thought that these statements would be imp

[2017-10-13 07:40] jmcanterafonseca commented on #163
schema should be changed, not the example, see my comment

[2017-10-13 08:07] jmcanterafonseca commented on #156
yes it is correct, it can be both

[2017-10-13 08:07] #156 closed

[2017-10-13 08:08] jmcanterafonseca commented on #167
you can propose an alternative way

[2017-10-13 08:08] jmcanterafonseca commented on #165
yup but I think first priority would be to finish the validation pull request

thanks!

[2017-10-13 08:09] jmcanterafonseca commented on #139
closing. please reopen if not clear @PedroMD

[2017-10-13 08:09] #139 closed

[2017-10-15 15:58] cclauss opened #169 "What versions of Python are supported?"
My assumption is all the currently supported versions of CPython: 2.7, 3.4, 3.5, and 3.6.  If so, we can safely remove the import of the with_statement which was only needed for Python 2.5 and earlier.
* https://github.com/Fiware/dataModels/search?utf8=✓&q=with_statement&type=

[2017-10-17 06:20] jmcanterafonseca commented on #169
ok, go ahead

thanks

[2017-10-17 11:35] #163 closed

[2017-10-18 04:44] cclauss opened #173 "Should Travis runs include a JavaScript linting step?"
This codebase is currently 81% Python and 18% JavaScript.  Travis currently runs flake8 to lint the Python code.  Should .travis.yml be modified to run JSHint or similar to keep the JS code in line?

[2017-10-20 08:47] jmcanterafonseca commented on #173
yes, that would be a good contribution

[2017-10-23 08:50] #169 closed

[2017-10-24 13:24] jmcanterafonseca commented on #113
`name` is an attribute that applies to any physical object. It allows to give a "well-known" or code name to a physical object. It would allow municipalities to quickly find container models in the database. ' A code name can be Mnemotechnical such as 'green_bin_trolley_year_209'

A different thing is the modelName, that together with the brandName define the specific container model from a formal

[2017-10-24 13:41] #173 closed

[2017-10-24 13:55] jmcanterafonseca commented on #76
closed as dup of #151

[2017-10-24 13:55] #76 closed

[2017-10-24 13:57] jmcanterafonseca opened #183 "Fix the build"
We need to fix Python linting errors and Javascript linting errors

[2017-10-24 15:54] cclauss commented on #183
#184 fixes the "Python" linting errors by moving the jshint processing out of the Python passes and into the node_js passes.  https://travis-ci.org/Fiware/dataModels/builds/292149211

[2017-10-24 16:13] cclauss commented on #167
It works as is.

[2017-10-24 16:13] #167 closed

[2017-10-24 16:14] cclauss commented on #25
Is this issue closed?

[2017-10-24 16:14] cclauss commented on #126
What comments?

[2017-10-25 14:08] jmcanterafonseca commented on #113
fixed as per the comment above and with #182 landed

[2017-10-25 14:08] #113 closed

[2017-10-25 14:10] jmcanterafonseca commented on #63
probably this could be fixed with `Alert` entity type suggested by SmartSDK.

[2017-10-25 14:11] jmcanterafonseca commented on #25
it would be needed to review one by one all the data models. Could you volunteer to do that? It can be huge.

[2017-10-25 14:12] jmcanterafonseca commented on #33
dupe of #41

[2017-10-25 14:12] #33 closed

[2017-10-25 14:12] jmcanterafonseca commented on #20
@cclauss would you like to work on this?

[2017-10-25 14:25] jmcanterafonseca commented on #126
they are in Spanish unfortunately

[2017-10-27 10:03] chicco785 opened #186 "linter for markdown"
we could explore as well the linting of md docs:
https://www.npmjs.com/package/markdownlint

[2017-10-30 16:46] chicco785 opened #187 "macaddress and ip in device"
shouldn't be possible for a device to have more than one ip or macaddress if it has multiple interfaces?

[2017-10-30 17:27] chicco785 opened #188 "pressure is duplicate in the controlledProperty enumeration"

[2017-10-30 17:43] chicco785 opened #189 "misspelling in Device example spec.md"
serialNumer -> serialNumber

[2017-10-30 17:51] chicco785 opened #190 "waste container example undefined attribute"
`dateNextActuation` is present in the example, but undefined in the spec (and json schema)

[2017-10-30 17:52] chicco785 commented on #190
correct attribute may be 'nextActuationDeadline'

[2017-10-30 18:02] chicco785 commented on #189
fixed in #192

[2017-10-30 18:02] chicco785 commented on #188
fixe provided in PR #192

[2017-11-02 11:27] #189 closed

[2017-11-02 11:28] #188 closed

[2017-11-02 15:03] jmcanterafonseca commented on #186
I think we have other priorities now, such as fixing the build ;) but good suggestion!

[2017-11-02 15:58] chicco785 opened #194 "how to create references between data models so that they are "navigable"?"
I think (and this may be related to JSON-LD, but I am not totally sure), it would be nice to have a way when i define a reference to a entity described by another schema, that some how, at the schema level I can "navigate" to the associated schema.

maybe these specs can be of use?
http://json-schema.org/latest/json-schema-hypermedia.html#rfc.section.6.6.1
http://json-schema.org/latest/json-schema

[2017-11-02 22:03] chicco785 opened #195 "Air Quality Observed: measurand attribute is not documented"
in the readme example there this attribute:

"measurand":
        [
            "SO2,4.0,GQ,Sulfur Dioxide",
            "CO,0.3,GP,Carbon Monoxide",
            "NO,18.0,GQ,Nitrogen Monoxide",
            "NO2,46.0,GQ,Nitrogen Dioxide",
            "NOx,73.0,GQ,Nitrogen oxides"
        ],

which is not then used in the spec neither in the .json files. I suppose it should be removed, given that co

[2017-11-06 23:59] chicco785 opened #196 "should we update models to json schema draft v6?"
regardless, probably it would be useful to add the schema version reference in all the schemas.
[code]

[2017-11-07 00:04] chicco785 opened #197 "any additional property is considered valid in the current schemas"
During the validation any example that include an attribute not describe in the json schema is valid.

This is not easy to solve, and may require heavy reworking of the schemas.
See discussion on [json-schema.org](http://json-schema.org/draft-06/json-schema-migration-faq.html#q-what-happened-to-all-the-discussions-around-re-using-schemas-with-additionalproperties).

[2017-11-07 08:34] jmcanterafonseca commented on #197
that is on purpose,. we do not want to restrict attributes to only those described there

[2017-11-07 08:34] #197 closed

[2017-11-07 08:35] jmcanterafonseca commented on #195
yes, this attribute is deprecated, and should be removed

[2017-11-07 12:51] chicco785 commented on #195
I made a PR #198. I wonder if we shouldn't review the model, there are few things that are not in aligned with the last practises. For example, values of gases are not defined. I am also not sure it is a good idea to allow to reference directly attributes from the WeatherObserved data model. The default modality should always be the reference to the entity.

[2017-11-07 21:53] jmcanterafonseca commented on #196
what's new in v6?

[2017-11-07 21:58] jmcanterafonseca commented on #195
values of gases, yes they are defined, but not individually, but in general. please check.

wrt WeatherObserved, yes you might be right. a pull request could be welcome. although you might need to modify many different things, such as readme, harvest python scripts, etc. etc. it can be quite a few work ...

[2017-11-08 10:30] chicco785 commented on #196
http://json-schema.org/draft-06/json-schema-migration-faq.html

anyhow, i think we should be consistent, not in all schema we define the version.

[2017-11-08 10:32] chicco785 commented on #195
i wondered if for completeness it wouldn't be better to list the actual values of gases as by the normative reference you link (and consequently update them in the schema).

as regards WeatherObserved, let's open it as an issue, if no one else come first, i will work on the pr when I find a slot.

[2017-11-08 14:29] jmcanterafonseca commented on #195
you can use the GSMA IoT Big Data  Harmonised Datamodel document as reference, it is mentioned the WHO recommended parameters. You can list some of the pollutants but I would leave it open to new pollutants as per the current specification

[2017-11-09 19:34] cclauss commented on #187
Duplicate of #69 ?

[2017-11-30 16:14] juliozinga opened #200 "Device Example"
In this example:
How will the user or app know the temperature range of the device: Celsus, Fahrenheit or Kelvin?
Miss some information in this example.
What do you suggest? @jmcanterafonseca @chicco785

https://github.com/Fiware/dataModels/edit/master/Device/Device/doc/spec.md

{
  "id": "device-9845A",
  "type": "Device",
  "category": ["sensor"],
  "controlledProperty": ["fillingLevel","tempera

[2017-12-10 22:25] jmcanterafonseca commented on #200
the model is telling that there is a device which is controlling certain properties, such as temperature and actually the device could be giving the temperature using different units, but that would be part of specific data models modelling the entities which temperature is sensed by this device

[2017-12-10 22:36] jmcanterafonseca opened #201 "fix formatting of alert data model"
http://fiware-datamodels.readthedocs.io/en/latest/Alert/doc/spec/index.html

is totally broken when it comes to bullet points.

Please fix it

@chicco785

[2017-12-10 22:37] jmcanterafonseca commented on #190
@chicco785 if this is not fixed, please could you fix it?

[2017-12-10 22:38] jmcanterafonseca commented on #187
closing as dup

@chicco785 please could you fix #69 ?

[2017-12-10 22:39] jmcanterafonseca commented on #151
@chicco785 please could you make a pull request with the data models you may have and then we can assign someone to complete them?

[2017-12-10 22:40] jmcanterafonseca commented on #63
we can close it as we have an Alert entity type

[2017-12-10 22:40] #63 closed

[2017-12-10 22:58] chicco785 commented on #190
if you confirm my assumption i will

[2017-12-18 12:56] jmcanterafonseca commented on #195
closing as this is fixed

[2017-12-18 12:56] #195 closed

[2017-12-18 12:57] jmcanterafonseca commented on #190
@chicco785 any update on this?

[2017-12-18 12:58] jmcanterafonseca commented on #151
we currently have a nice pull request from XapiX that provides all the missing JSON Schemas. It will be landing soon ... ;)

[2017-12-19 09:28] jmcanterafonseca commented on #183
closing as now the build has been fixed

[2017-12-19 09:28] #183 closed

[2017-12-19 09:29] jmcanterafonseca commented on #150
closing as this has been fixed with the landing of the validator

[2017-12-19 09:29] #150 closed

[2017-12-20 12:35] chicco785 commented on #200
to add to @jmcanterafonseca reply, you would probably use in the specific data model a metadata to define different units

[2017-12-20 13:17] chicco785 commented on #187
duplicate

[2017-12-20 13:17] #187 closed

[2017-12-20 15:24] jmcanterafonseca commented on #201
closed

[2017-12-20 15:24] #201 closed

[2017-12-20 15:24] jmcanterafonseca commented on #190
fixed

[2017-12-20 15:24] #190 closed

[2017-12-20 17:34] juliozinga opened #213 "Code of example"
in this commit: https://github.com/Fiware/dataModels/commit/352798a8bab0bb9633fce40897860388fe162fc7

See this comment:

This example, don't is accept as a orion json inner, i think.
Maybe:
[code]

or:

[code]

If I get this example and test in Orion, will return:

[code]

I think this transformation is difficult for a beginner to use and understand.

[2017-12-20 18:20] jmcanterafonseca commented on #213
you need to use the keyValue mode

[2017-12-20 18:24] juliozinga commented on #200
In [DeviceModel](https://github.com/Fiware/dataModels/blob/352798a8bab0bb9633fce40897860388fe162fc7/Device/DeviceModel/doc/spec.md) the attribute **controlledProperty** is a candidate to add the metadata...

[2017-12-20 18:44] juliozinga commented on #213
This information needs to be present in an explanation close to each example.

[2017-12-20 18:55] juliozinga opened #214 "Error in Device Example code"
I try in orion send the [exemple code](https://github.com/Fiware/dataModels/blob/master/Device/Device/example.json) of Device.
 But orion show:
[code]

If I remove : the line `"value": "l=0.22;t=21.2", `
Orion recevies the input.
Or later do two changes:
`"value": ["0.22","21.2"],`
Represented as `"value":{"type":"StructuredValue","value":["0.22","21.2"],"metadata":{}}`
and
`"value": "0.22,21.2",`

[2017-12-21 02:27] juliozinga commented on #214
Reading the specification, my suggestion is Text as Attribute Type:
`"value": "0.22;21.2"`

[2017-12-21 07:37] chicco785 commented on #213
Hi Julio,
Thx for all this precious feedbacks.

I was thinking two things:
- to add a paragraph on the doc on how testing the examples with the context broker
- to introduce in the validation of model an option to test them in the context broker

iFede - Fede's mobile edition

[2017-12-21 21:52] chicco785 commented on #214
indeed = is not a supported character: https://fiware-orion.readthedocs.io/en/master/user/forbidden_characters/index.html#forbidden-characters

@jmcanterafonseca what is the official solution in this case?

[2017-12-21 22:01] chicco785 commented on #213
#215 provides the automatic support check against context broker

[2017-12-21 22:02] chicco785 commented on #214
the error is confirmed, check the build of the new validator (PR #215)

[2017-12-21 22:04] chicco785 commented on #214
build line where the error is identified: https://travis-ci.org/Fiware/dataModels/jobs/319934415#L561

[2017-12-21 22:37] jmcanterafonseca commented on #214
drop the = or encode it using encodeURIComponent

2017-12-21 23:04 GMT+01:00 Federico M. Facca <notifications@github.com>:

[2017-12-22 06:05] chicco785 commented on #214
Should we land a PR for it?

iFede - Fede's mobile edition

[2017-12-22 09:02] chicco785 commented on #213
#217 add notes to all documents

[2018-01-02 19:18] chicco785 commented on #214
@jmcanterafonseca this issue can be closed.

[2018-01-02 19:19] chicco785 commented on #213
this issue can be closed

[2018-01-03 10:22] #213 closed

[2018-01-03 10:22] #214 closed

[2018-01-03 10:23] jmcanterafonseca commented on #200
closed. please reopen if not fine

[2018-01-03 10:23] #200 closed

[2018-01-18 15:46] 10aboskin opened #218 "device-schema.json structure problems?"
I’m using AJV to validate data against the schema, but AJV is unable to resolve the refs in “Device-Commons” definition that reference definitions within it’s own schema. Testing on http://jsonschemalint.com/ shows that device-schema.json is a valid schema under the draft-06 specification but not the draft-04 specification.

I also noticed that the “SupportedProtocolType” definition is currently n

[2018-01-18 16:15] chicco785 commented on #218
you should pass the referenced schemas. for your convenience, there is a whole [testing framework] (https://github.com/Fiware/dataModels/tree/master/validator) for checking schemas and example against schemas.

see this build as example of validator run:
https://travis-ci.org/Fiware/dataModels/jobs/324521765

[2018-01-22 15:01] 10aboskin commented on #218
in this case, the referenced schema is the schema itself.
<img width="512" alt="screen shot 2018-01-22 at 3 50 06 pm" src="https://user-images.githubusercontent.com/7806115/35226872-dcd2a6fc-ff8c-11e7-909d-392db82152b4.png">
here the "Device-Commons" definition is trying to reference definitions from its own schema as seen here
<img width="336" alt="screen shot 2018-01-22 at 3 58 34 pm" src="https

[2018-01-29 19:10] juliozinga opened #220 "broked link http://json-schema.org/geojson/geometry.json"
This link fail http://json-schema.org/geojson/geometry.json
in: https://github.com/Fiware/dataModels/blob/master/PointOfInteraction/SmartPointOfInteraction/schema.json;
and https://fiware.github.io/dataModels/common-schema.json#/definitions/Location-Commons.

[2018-02-20 07:37] chicco785 commented on #220
it's not a broken link, simply (and unfortunately) the schema is not referenciable. correct @jmcanterafonseca ?

[2018-02-20 07:45] chicco785 opened #221 "modeling pollen level to measure air quality"
we need to model level of pollens in the air that may affect the life quality of people.

we thought, basically of two options:

* reuse the AirQualityObserved model, by using instead of the chemical pollutant
the name of the allergene for example (the problem here would be that we need to add new values to the level values):

[code]
* another option would be, reusing the same model, but decouplin

[2018-02-26 10:13] aarranz opened #223 "Minor glitches in the description of the location and address attributes of the BikeHireDockingStation spec"
Currently, the [spec document](https://github.com/Fiware/dataModels/blob/079dca98e6122cc9105bc4a7b36c315cf0d763da/Transportation/Bike/BikeHireDockingStation/doc/spec.md) describes the `address` attribute as to be "Mandatory if `location` is not defined". This description is strange because the `location` attribute is described to be mandatory, so it will be clearer to mark the `address` attribute

[2018-02-26 10:17] aarranz commented on #126
Anyway, It would be great to make those comments public so people understanding Spanish can help 😉.

[2018-02-26 11:02] jmcanterafonseca commented on #223
@aarranz I would prefer to mark location as "Mandatory if address is not present"

[2018-02-26 11:02] jmcanterafonseca commented on #223
@aarranz please could you submit a PR fixing this?

[2018-02-26 12:05] chicco785 commented on #221
@jmcanterafonseca if you have any feedback it would be great, we will then create a PR accordingly.

thx

[2018-02-27 22:10] jmcanterafonseca commented on #221
Instead of overloading AirQualityObserved why don't we define a new entity type. Proposal.

`PollenLevelObserved`  and then we define an specification for the different pollen types, etc. in line with what you are proposing ...

WDYT?

[2018-02-28 07:58] chicco785 commented on #221
roger that

On Tue, Feb 27, 2018 at 11:10 PM, Jose M. Cantera <notifications@github.com>
wrote:

[2018-03-09 16:26] jmcanterafonseca commented on #151
I think we can now close this

[2018-03-09 16:26] #151 closed

[2018-03-09 16:28] jmcanterafonseca commented on #220
correct. I think we can close this.

[2018-03-09 16:28] #220 closed

[2018-03-16 08:49] jmcanterafonseca opened #230 "Provide a README for all the harvesters"

[2018-03-21 09:05] #223 closed

[2018-03-21 09:06] aarranz commented on #223
The PR was merged, so I think this issue can be closed

[2018-03-21 09:18] aarranz opened #231 "Add support for a third attribute for identifying vehicles"
Current Spec for `Vehicle` requires to provide at least one of the following attributes: `vehiclePlateIdentifier` or `vehicleIdentificationNumber `. When providing open data using this data model, this usually is a problem, because is not usual to provide that information. Some public services provide the `vehiclePlateIdentifier` like most of the car/motor sharing services, but others don't provid

[2018-03-28 09:10] aarranz opened #234 "Discrepancies between WeatherObserved spec and example harversters"
The `WeatherObserved` spec (and schema) documents the use of the `barometricPressure` attribute while the example harvesters (e.g. [`spain_weather_boserved_harvester.py`](https://github.com/Fiware/dataModels/blob/master/Weather/WeatherObserved/harvest/spain_weather_observed_harvest.py)) uses an `atmosphericPressure` attribute. So, there are two options:

- Leaving untouched the spec, so we have to

[2018-04-15 03:59] abemuis95 opened #235 "Could not obtain token"
I tried to obtain the auth token to get the data on AirQualityObserved but failed. Can anyone help me?

Environment:
CLI : Command Prompt
OS: Windows 10
Python : ver 2.7
![curl error](https://user-images.githubusercontent.com/12205191/38774866-3d95e244-40a4-11e8-8b0d-eabcf2c1fcb3.PNG)
![token json](https://user-images.githubusercontent.com/12205191/38774872-5ecbe3be-40a4-11e8-9fb1-3b18db3b7494.png

[2018-04-15 09:51] chicco785 commented on #235
hi,
i think the issue has nothing to do with the air quality model, but with
auth service. so this project is not the best one where to ask for help.

On Sun, Apr 15, 2018 at 5:59 AM, Muisz <notifications@github.com> wrote:

[2018-04-24 06:32] jmcanterafonseca commented on #235
Currently we are not maintaining that infrastructure and will be down for a couple of months until we upgrade it to a new one.

[2018-04-24 06:34] jmcanterafonseca opened #236 "Provide a template for data models aligned with NGSI-LD"

[2018-04-24 06:37] jmcanterafonseca opened #237 "Provide examples in NGSI-LD of all DataModels"
* Land all the pending PRs
* Close Release 1 of Data Models
In the master branch, once we release:

* Start migration to NGSI-LD
* Contribute to GSMA extensions made by FIWARE
* Avoid duplications with GSMA

[2018-04-24 06:48] jmcanterafonseca commented on #234
@aarranz the authoritative source is https://www.gsma.com/iot/wp-content/uploads/2016/06/CLP.26-v4.0.pdf ,

please could you make a PR so that there is alignment?

[2018-04-24 06:50] jmcanterafonseca commented on #231
fleetVehicleId could work. Please could make a PR addressing this?

[2018-04-25 15:16] chicco785 opened #238 "[TrafficFlowObserved]"
while the specs refer to `occupancy` the example mentions `capacity`.
are they the same? what's the correct one in case?

[2018-05-07 14:11] jmcanterafonseca commented on #238
I've made a PR with a tiny fix. but I realised that no JSON Schema is available nor example.json.

[2018-05-07 14:12] jmcanterafonseca commented on #234
@aarranz ping

[2018-05-11 08:44] aarranz commented on #234
Sorry for not answering. Yes, I will provide a PR.

[2018-05-15 07:40] #231 closed

[2018-05-15 07:42] jmcanterafonseca commented on #238
I've assigned Fede as he intended to work on providing the JSON Schema

[2018-05-15 16:05] jmcanterafonseca commented on #234
closing. this was fixed

[2018-05-15 16:05] #234 closed

[2018-05-15 16:06] jmcanterafonseca commented on #221
closing. this has been fixed

[2018-05-15 16:06] #221 closed

[2018-05-29 13:49] LeonanCarvalho opened #247 "[Vehicle] Missing attributes related to Eletrical Vehicle (draft needed)"
On spec. of VehicleModel has an electric attribute as a valid value for the attribute `fuelType`, attributes to indicate battery level or fuel level is necessary, the status if it's at a charging station (another possible data model) or charging status, time since charge, etc.

I found some the attribute http://auto.schema.org/fuelCapacity
that's related to this issue, but for hybrid fuel type, th

[2018-05-31 12:32] jmcanterafonseca commented on #247
@LeonanCarvalho could you provide a contribution? I would be happy to review it

[2018-06-07 16:37] jmcanterafonseca opened #248 "docs build is failing."
It seems readthedocs mkdocs no longer permits our current dir structure. It seems we need to move the data models specification to an independent folder. Then, we would need to change the URLs of all the schemas which could be more painful

[2018-06-07 17:00] jmcanterafonseca commented on #248
/cc @chicco785 /cc @caa06d9c

[2018-07-05 20:29] jmcanterafonseca commented on #248
fixed

[2018-07-05 20:29] #248 closed

[2018-07-09 13:37] jmcanterafonseca opened #258 "validator should be in the root folder"
When we moved the specs the validator came with the specs. I think it is better to keep the specs directory only with specs and move the validator back to the root folder.

[2018-07-09 13:40] jmcanterafonseca opened #259 "bullet point issues with readthedocs"
In the Urban Mobility data models readthedocs generated documentation we are facing the issue of bad indented bullet points. Issue is with the markdown.

See
http://fiware-datamodels.readthedocs.io/en/latest/UrbanMobility/Agency/doc/spec/index.html

as an example (same issue with the rest of data models)

[2018-07-10 08:44] caa06d9c commented on #259
fix in #260

[2018-07-10 08:44] #259 closed

[2018-07-10 12:09] #258 closed

[2018-07-16 08:11] jmcanterafonseca opened #264 "Add fire as new category/subcategory in the Alert data model"
In the Alert data model, currently we have "forestFire" as a subcategory of "weather" , and the semantics is "there is a risk of forestFire" due to the current weather conditions, for instance high temperature.

But we also need something to convey that there is currently a fire, so may be that could be done using the "security" category, or even could be used using another category named "fire" a

[2018-07-16 09:21] jason-fox commented on #264
I would see a separate `fire` category as being too specific IMHO - how many different types of fire would you need?

Personally I see the `security` category being sufficient  for  encapsulating *Things you want to run away from fast*.

Maybe use the following within `security` category
* `suspiciousAction`
* `robbery`
* `assault`
* `civilDisorder` . (e.g. Riot, Protest March)
* `buildingFire`
*

[2018-07-16 09:23] jmcanterafonseca commented on #264
+1.
@jason-fox would you be able to make a PR with these changes? it is not urgent, just something for your backlog ...

[2018-07-16 09:30] jason-fox commented on #264
Whilst we are at it - why is `tsunami` a Weather event? -  it is not caused by the weather

Surely  `tsunami` and ``earthquake` (missing) should be `environmental`?

[2018-07-16 09:37] jmcanterafonseca commented on #264
@chicco785 designed it but now on vacation, so we should ask him

[2018-07-17 14:06] jmcanterafonseca opened #270 "docs build is failing"
/cc @jason-fox @chicco785 @caa06d9c

[2018-07-17 14:15] caa06d9c commented on #270
Common problem: https://github.com/rtfd/readthedocs.org/issues/4380

[2018-07-17 20:49] caa06d9c commented on #270
resolved by rthd team

[2018-07-17 20:49] #270 closed

[2018-08-08 14:49] chicco785 commented on #264
i wouldn't use "environmental", for me this is something related to "monitoring" and somehow related to human activities effect.

"natural" ?

regarding "fire" i agree with @jason-fox , and in general I think we should provide guidelines, but not being too specific - at least unless we have the usecase to proper test and validate the categorization.

[2018-08-08 15:06] jason-fox commented on #264
A modest Proposal :

* `traffic` :
(trafficJam, carAccident, carWrongDirection, carStopped,  pothole, roadClosed, roadWorks, hazardOnRoad, injuredBiker)

* `naturalDisaster` :  :heavy_exclamation_mark:
(flood, tsunami, coastalEvent, earthquake)

* `weather` :
(rainfall, highTemperature, lowTemperature, heatWave, coldWave, ice,  snow, wind, fog, tornado, tropicalCyclone,  hurricane, snow/ice, thund

[2018-08-13 11:57] jmcanterafonseca commented on #264
@jason-fox please could you nail it down by making a PR?

Thanks!

[2018-08-13 11:57] jmcanterafonseca commented on #238
@chicco785 do you think you would be able to provide a JSON Schema?

[2018-09-06 07:47] jmcanterafonseca commented on #264
closed as fixed.

[2018-09-06 07:47] #264 closed

[2018-09-18 11:48] dherykw opened #280 "[Device] value attribute"
We are working closely with this data model and it is very difficult to deal with this attribute, maybe it is a good moment to split the data model into more specific structures. Allow me to make a brief description of my proposal.

Current data model representation example:
** Device Datamodel: **
{
  "id": "device-9845A",
  "type": "Device",
  "category": ["sensor"],
  "controlledProperty": ["hu

[2018-09-18 11:54] fgalan commented on #280
What about just using the current model but with an structured values, as the following:

[code]

It is important to keep all the attributes together in the same entity. Otherwise, you would need to do several queries to get all the information (e.g. first to device-9845A and get which entities-sensor to retrieve, then a second query to temperature-9845A, then a third query to humidity-9845A and s

[2018-09-18 12:50] dherykw commented on #280
Hi @fgalan

Thanks so much for your quick response.

One big request or many small ones. Be or not to be, that is... :)

Yes, I agree with you that one query better than two but once that you know the device_id you car retrieve all the sensors with one query. on the other hand, if you wanted all the temperature values of all the devices with the current data model the computational cost for the Or

[2018-09-26 16:04] TK009 opened #282 "[WeatherObserved] visibility is ambiguous"
Property `visibility` is documented as
[code]
But this is very ambiguous, no sensor outputs this kind of scale. This is a problem for me because my data source gives me visibility as length in meters that can be seen. I didn't find easily any tables that could categorize visibility in the required scale.

[2018-09-26 17:39] chicco785 commented on #282
hi @TK009
the data model is derived from [GSMA](https://www.gsma.com/iot/wp-content/uploads/2018/07/CLP.26-v5.0.pdf) work that indeed states:

so we should surely need to tackle also the the numeric support, but preserving backward compatibility with string values.

I believe that this values have been inherited from existing API, i.e. https://opendata.aemet.es

[2018-09-26 17:40] chicco785 commented on #282
@jmcanterafonseca what do you think?

[2018-09-26 17:42] chicco785 commented on #280
@fgalan i am not expert, but is the model you propose possible in IoT Agent?

[2018-09-26 21:09] dherykw commented on #280
Hello @chicco785 this model is not possible because of this issue. [issue549](https://github.com/telefonicaid/iotagent-node-lib/issues/549#issuecomment-423922381) :-(.

But even fixing it we have the feeling that we could have a problem with the lazy attributes, for that reason we have proposed the data model representation review.

[2018-09-27 07:32] chicco785 commented on #280
we could look into supporting that, i have to check if we have spare resources to invest. i think it is an important feature. the important point is that this is also supported then in context broker properly, but i suppose it is the case.

@dherykw what would be the issue with lazy values? I think we can think of a way to "populate" only specific values in the structured data model, no?

what abo

[2018-09-27 07:33] chicco785 commented on #238
on the stack for next week (hopefully)

[2018-09-27 08:00] TK009 commented on #282
Thanks for helping.
It's hard to browse documentation with google translate. If someone can find how this visibility scale is calculated from meters, I think it would be useful to add into the data models documentation for both data producers and consumers. Other way would be to add an attribute metadata to link to a specification like in airQualityIndex of AirQualityObserved.

[2018-09-27 10:00] fgalan commented on #280
Not sure. But in the case it is not possible *now* nothing precludes IoT Agent to support it if needed. As I it has been mentioned above, it seems to be a matter of implementing a pending issue.

[2018-09-27 10:00] fgalan commented on #280
Is not the current model flexible enough to cope with both use cases? If not, it should, from my point of view.

[2018-09-27 10:13] chicco785 commented on #280
I think we proposed in SmartSDK to allow a device to be a collection of other devices.
This would support the scenario IMHO

[2018-09-27 17:27] dherykw commented on #280
@chicco785 we think that we could have problem at the moment of extract the resource to do the real operation (read/write/execute) to the device, we are still studying the code but like Perl, JavaScript is that kind of write-only languages that are quite difficult to collaborate. Indeed we are a little bit sad for the new keyrock implementation in nodejs :(.

@fgalan of course that this data model

[2018-09-27 17:29] fgalan commented on #280
Maybe the solution is to define clearly the two variants (a kind of sub-models) so each vertical/application can state clearly if it support one, the other or both. That way interoperability will not suffer.

Just thinking aloud... :)

[2018-09-27 17:59] dherykw commented on #280
I think that this could solve some problems but it will introduce others.

May be we could have a nice talk in the FIWARE submit about it. :-)

Best

[2018-09-30 07:49] fisuda opened #285 "Incorrect link to WeatherAlarm in Weather/doc/introduction.md"
The page "Weather/doc/introduction.md" contained a hyperlink to "Weather/WeatherAlarm/doc/spec.md" which is not listed in the "pages" configuration.

[2018-09-30 12:35] chicco785 commented on #285
Correct is path is WeatherAlert

[2018-10-01 09:21] aarranz opened #286 "Incorrect rendering of the Street Lightning specifications on Read The Docs"
It seems that read the docs is not rendering correctly for any of the Street Lighting data models. For example, this is the current rendering of the [Streetlight](https://fiware-datamodels.readthedocs.io/en/latest/StreetLighting/Streetlight/doc/spec/index.html) data model:

<img width="1233" alt="screen shot 2018-10-01 at 11 12 28" src="https://user-images.githubusercontent.com/841201/46279988-ff9

[2018-10-01 11:03] fisuda commented on #285
Thanks for your comment.

[2018-10-01 15:54] jmcanterafonseca opened #291 "Reformat examples title as suggested in PR #281"
/cc @jason-fox

[2018-10-01 16:06] jmcanterafonseca commented on #291
https://github.com/Fiware/dataModels/pull/281#discussion_r221595993

[2018-10-02 10:35] aapris opened #292 "Particulate matter values in AirQualityObserved?"
We've several different sensors which measure particulate matter in the air and we get PM10 and PM2.5 values out from them. However, I've no clue how to publish the data e.g. in Fiware NGSI V2 broker since https://github.com/Fiware/dataModels/blob/master/specs/Environment/AirQualityObserved/doc/spec.md doesn't mention particulate matter or PM at all.

Can I just add (leagally) `"pm2.5"` and `"pm10

[2018-10-02 10:41] jmcanterafonseca commented on #292
They should be PM10 and PM2.5 and yes at the same level .

[2018-10-02 10:41] #292 closed

[2018-10-02 10:59] jmcanterafonseca opened #293 "Vulnerabilities in the validator"
We found potential security vulnerabilities in your dependencies.
Some of the dependencies defined in validator/package-lock.json have known security vulnerabilities and should be updated.

Only users who have been granted access to vulnerability alerts for this repository can see this message.
Learn more about vulnerability alerts

@jason-fox would you like to work on this issue?

[2018-10-02 11:00] #285 closed

[2018-10-02 11:10] #286 closed

[2018-10-04 16:28] chicco785 opened #295 "EVCharged Vehicle and CrowdFlow are not listed in the Transportation main doc"

[2018-10-05 07:20] ilarimikkonen opened #298 "[Weather] [Weather observed] Measuring system (Metric, Imperial, etc) is not specified"
looking at the specification, it is impossible to say which units are used. It would be good to state somewhere what measurement system is used. If reporter posts Fahrenheit instead of Celsius, results are hilarious

[2018-10-05 07:22] ilarimikkonen opened #299 "[Weather observed] order of longitude and latitude are not specified."
AFAIK, there is no standard for this, so would be better to specify "lng" and "lat" in "coordinates"

[2018-10-05 07:33] chicco785 opened #300 "Officialize in the doc the version of JSON Schema we comply with"
This may help also to clarify #218 . This may have impact also on the validator and fixes to the schemas.

[2018-10-05 07:36] chicco785 commented on #299
@ilarimikkonen
I am not sure to which notation you refer to, but if you check the GeoJSON spec, this is clear:
https://tools.ietf.org/html/rfc7946#section-3.1.1

[2018-10-05 07:39] chicco785 commented on #298
@ilarimikkonen this is the role of metadata. see the example here:
https://github.com/Fiware/dataModels/blob/master/specs/Environment/AirQualityObserved/example-normalized.json

[2018-10-05 07:49] ilarimikkonen commented on #299
great! can you mention that somewhere in the documentation?

[2018-10-05 08:08] chicco785 commented on #299
@ilarimikkonen thanks for raising the point.

@jmcanterafonseca @jason-fox probably we need an "intro" spec, providing few details on the "common" models. Feelings?

[2018-10-05 08:41] jmcanterafonseca commented on #299
I don't believe we need to duplicate in a specification something which it is already said in another specification which is referenced as normative. So -1.

[2018-10-05 08:44] jmcanterafonseca commented on #298
Well, what is reported in this issue is not true

temperature : Air's temperature observed.
Attribute type: Number
Default unit: Degrees centigrades.
Attribute metadata:
timestamp : optional timestamp for the observed value. It can be ommitted if the observation time is the same as the one captured by the dateObserved attribute at entity level.
Optional

[2018-10-05 08:45] #295 closed

[2018-10-05 08:49] chicco785 commented on #299
i think explaining few things for the "general models" and pointing to the spec is a plus, that could make adopters life easier. of course (which we have to do anyway) this implies that in case of relevant changes to the reference, we would need to make updates.

in the end, this is about lowering barriers for adoption :)

[2018-10-05 08:57] jmcanterafonseca commented on #299
well if you want to create a tutorial on how to use the Data Models, fine, but I don't want to maintain in the specifications things which are not essential

[2018-10-05 09:15] chicco785 commented on #299
Indeed it could be a short guide on how to use the models. We have now a documentation on how to build them, but not something for the users.

I will open a different ticket.

[2018-10-05 09:15] #299 closed

[2018-10-05 09:16] chicco785 opened #301 "Add short guide on data model adoption"
@jmcanterafonseca @jason-fox following few issues collected, it may be beneficial to add a short guide on model usage.

Do you prefer to discuss the structure here or via an initial PR?

[2018-10-09 10:02] dherykw commented on #280
Hi guys,

The lazy attribute problem could be overcome, we have our LwM2M IotAgent representing multi-entity and the structured value like @fgalan proposed, even so, we think that current data model definitions will difficult the cross-vertical solutions, but we comply with the FIWARE standard. :-)

Regards

[2018-10-11 10:35] fisuda opened #305 "About contributing Japanese documents"
Hi @jmcanterafonseca

I have translated .md files in this repository into Japanese.
Before sending a PR, may I ask something?

* May I put Japanese document in this repository?

* Where folder should the files be put?
My proposal is to put the Japanese .md files into `specs.ja`. The Japanese .md file except in spec folder renames as `.ja.md` and the `.ja.md` file is put in the same folder as the E

[2018-10-11 11:45] jmcanterafonseca commented on #305
specs.ja (including only .md files)
   Alert
   doc
   spec.md ?? shoudn't this be spec.ja.md ?

@jason-fox what do you think about this proposal?

[2018-10-11 13:02] jason-fox commented on #305
Do we want to do this properly? **Read-the-docs/mkdocs** generated from markdown does not to a good job of internationalization. It is painful.

If we add  Japanese in the existing project then either it isn't rendered or both versions are rendered in one document, I mean we could display both English and Japanese docs  together in one project - but who (apart from @fisuda)  is fluent in both Engl

[2018-10-11 15:11] jmcanterafonseca commented on #305
@jason-fox I'm not in favour of adding complexity to the dataModel Repo and would prefer to keep just the Repo we have. I don't believe we need to generate the Readthedocs in Japanese, but just add a link somewhere to the .md files translated to Japanese.

So I prefer to create the specs.ja folder and put the content there. The question is should `spec.md` for the  Japanese be `spec.md` or `spec.m

[2018-10-15 11:08] fgalan commented on #305
Based on how documenation translation is being implemented in fiware-orion repository maybe is better to use in filenames/directories:

.ja -> .jp

My two cents... :)

[2018-10-15 11:50] fisuda commented on #305
@fgalan,
Thank you for your advice.

My proposal is same as fiware-orion repo. The language code is `ja`, which is different from fiware-orion repo.This is according to [ISO 639-1](https://en.wikipedia.org/wiki/ISO_639-1). In case of fiware-orion repo, I proposed same one. But, as `jp` had been already used, I used `jp` instead of `ja`.

[2018-10-15 12:12] fisuda commented on #305
@jmcanterafonseca , @jason-fox

In case of `spec.md.ja`, a file is not printed as markdown on github.
So, a file name should be `spec.md` or `spec.ja.md`.
I think that `spec.md` is better to avoid redundancy of `ja`.

[2018-10-17 12:46] #293 closed

[2018-10-23 08:11] #301 closed

[2018-10-23 15:04] jmcanterafonseca opened #310 "howto page rendering has issues"
@jason-fox  @chicco785

https://fiware-datamodels.readthedocs.io/en/latest/howto/index.html

[2018-10-26 13:16] #186 closed

[2018-10-26 13:16] #310 closed

[2018-10-29 18:04] jmcanterafonseca commented on #305
@fisuda can we just have a new folder named

`specs.ja` which will contain all the specs following a similar structure than the `specs` folder?

and within that folder the translations to the Japanese under `spec.ja.md`, for instance:

`specs.ja/Environment/AirQualityObserved/doc/spec.ja.md`

and so on so forth.

[2018-10-29 18:11] jmcanterafonseca commented on #300
@chicco785 can you propose something? What is the latest version of JSON Schema supported by ajv and other tools?

that should give us a lower boundary of what versions to adhere to.

[2018-10-29 18:12] jmcanterafonseca commented on #298
closed as it has been responded.

[2018-10-29 18:12] #298 closed

[2018-10-29 18:16] jmcanterafonseca commented on #282
I would suggest we stick to what it is said by GSMA spec. To keep backwards compatibility we would need to allow a string, though.

@chicco785 could you provide a PR to fix this? otherwise, I can take it.

[2018-10-29 18:28] jmcanterafonseca commented on #280
Future-wise I prefer to evolve towards what is going to be defined by iot.schema.org (W3C is creating a new CG on that) rather than changing existing Data Models.

https://github.com/iot-schema-collab

[2018-10-29 19:11] caa06d9c commented on #235
Hi!

Please, check URL, Username and Password:
As an example (AirQuality):

Request token and export it as Env variable:
`export TOKEN=$(curl -s https://iotbd.lab.fiware.org/ngsi/token -d '{"username": "fiware.user1@gmail.com", "password": "C4@%N6oF3RqX"}')`

Request AirQuality data from Madrid:
`curl -s --header 'fiware-service:airquality' --header 'fiware-servicepath:/Madrid' --header "x-auth-to

[2018-10-29 19:11] #235 closed

[2018-10-30 09:40] fgalan commented on #305
I don't have any strong opinion regarding a particular structure versus others. As far as there is some consistent structure, is fine.

With regards to acronym, I think the same should be used among all repos. Orion is currently using `jp` so I suggest to use `jp` also here or change Orion to use `ja`, whatever you prefer.

[2018-10-30 09:50] jason-fox commented on #305
`ja` is the correct ISO 639-1 **Language** Code - Orion is incorrect.

`jp` is the ISO country code for Japan rather than the Japanese Language.

[2018-10-30 16:30] jmcanterafonseca opened #314 "Add a section to the README on how to lint / prettify"
/cc @chicco785 @jason-fox

[2018-10-30 16:31] jmcanterafonseca commented on #314
in the datamodels project now, how can I instruct the linter to execute? the md linter

Jason, 17:20
If you go into the validator and re-run npm i  husky should run automatically if you commit an md file

If you want to re-run it across all md files  run

npm run prettier:text

To run the linter/link checker run

npm run lint:text

These are the equivalents to:

npm run lint
npm run prettier

for

[2018-10-30 16:46] jmcanterafonseca opened #315 "Fix dead links"
Within  .textlintrc, I think you may want to add

 "no-dead-link": {
       "ignoreRedirects": true,
       "ignore": [
          "mailto:*",
          " https://schema.org"
       ]
    }

[2018-10-30 16:56] jmcanterafonseca commented on #315
/Users/jasonfox/Workspace/jason-fox/catalogue-forks/dataModels/specs/guidelines.md
  204:39  error  /Users/jasonfox/Workspace/jason-fox/catalogue-forks/dataModels/specs/datamodel_template.md is dead. (ENOENT: no such file or directory, access '/Users/jasonfox/Workspace/jason-fox/catalogue-forks/dataModels/specs/datamodel_template.md')                                            no-dead-link
  205:4

[2018-10-31 12:00] jmcanterafonseca opened #317 "ensure that all Entity types incorporate the `source` and `dataProvider` attributes"

[2018-10-31 12:01] jmcanterafonseca opened #318 "Add text linter to the CI process"
/cc @chicco785

[2018-11-02 08:55] dherykw commented on #280
Hello @jmcanterafonseca

We understand the benefits and importance of adopting standards, and more if they are deffined by W3C, but we have to have in mind that the current IDAS will not be able to represent these data models, the should be almost fully rewritten. I can observe that the models defined by W3C are very heterogeneous which is going to add a lot of complexity to the IDAS development (

[2018-11-19 19:00] jlanza opened #324 "Vehicle model not supported by Orion"
Vehicle model defines two locations: Location and PreviousLocation. Both of them should be defined using geo:json.

However, when pushing data to Orion you get the following error:
"You cannot use more than one geo location attribute when creating an entity [see Orion user manual]"

Therefore the solution I've found is remove the type from PreviousLocation and consider it is inferred from the Loca

[2018-11-19 19:44] fgalan commented on #324
This behaviour is documented for Orion. Please have a look at https://fiware-orion.readthedocs.io/en/master/user/ngsiv2_implementation_notes/index.html#limit-to-attributes-for-entity-location

[2018-11-20 11:58] jmcanterafonseca commented on #324
closing this. Please open an issue in the corresponding Project.

[2018-11-20 12:11] fgalan commented on #324
It depens. If the outcome of this issue is to modify the Vehicle datamodel, then I think it is well placed in this repository.

[2018-11-20 20:39] fgalan commented on #324
Very good point. Because if the door is open for a PreviousLocation, why don't a PreviousPreviousLocation? And why don't a PreviousPreviousPreviousLocation? ;)

Context based models work better when the model is focused on current-state information (that's actually the real meaning for *context*). For past data (as a past location) historical data (persisted through Cygnus) should be used.

[2018-11-20 20:45] jlanza commented on #324
PreviousLocation can be used to infer the heading direction and speed which are only mandatory if the vehicle is tracked. If the data provider is not giving that, then you can use Location and PreviousLocation to get this values.
It is up to you, but I also consider that the restriction in Orion is something strange.
The other option could be that Location can be set as a Polyline, so the user can

[2018-11-20 20:49] fgalan commented on #324
Could that use case be achieved using historical context data (for instance, provided by a query to the STH API to location attribute)?

[2018-11-20 21:11] chicco785 commented on #324
This is something related to a discussion we are having for QuantumLeap. The discussion being that it would be nice to have, beside “real” entities also “virtual” entities computed as views over real entities. Some concept could apply somehow to attributes.

This would avoid having to compute “pieces” of the context via external data processing.

Anyhow I wonder if the “heading” is not an informat

[2018-11-21 08:39] jmcanterafonseca commented on #324
just to clarify that not necessarily Data Models should be constrained to Orion limitations. Data Models are intended to be independent of the NGSI implementation, although generally they work with the Orion implementation.

Wrt `previousLocation` I think it is a good idea as a very convenient way to infer heading, distance, speed, without having to inspect history. So -1 to remove it.

[2018-11-21 09:58] chicco785 commented on #218
@10aboskin to be honest i didn't study the difference. what i can say that the validation is based on a version of ajv that use draft-04 schema.

[2018-11-21 10:15] chicco785 commented on #300
currently we do validation with a version of ajv that supports draft-04 (despite not defined in all schemas), but the last version of ajv supports up to draft-07.

an approach could be:
1. point to schema draft-04 in all schemas (not all JSON schemas have the reference to it currently)
1. officialise that the current version supported is draft-04
1. test new ajv with configuration to support draft

[2018-11-21 10:18] chicco785 opened #326 "Markdown in vehicle model seems broken"
check Location and other attributes: the bullets are not correctly displayed:
* https://github.com/Fiware/dataModels/blob/master/specs/Transportation/Vehicle/Vehicle/doc/spec.md
* https://fiware-datamodels.readthedocs.io/en/latest/Transportation/Vehicle/Vehicle/doc/spec/index.html

[2018-11-21 10:21] chicco785 commented on #324
you have `heading` and `speed` in the data model. to me `previousLocation` is redundant.

[2018-12-14 10:44] emastrosimone opened #335 "Weather-schema - "null" values in several attribute types"
In the [weather-schema.json](https://github.com/Fiware/dataModels/blob/master/specs/Weather/weather-schema.json) what is the meaning of having "null" values in several attribute types , as the following?
[code]

Is there a particular reason or is it an error?

[2018-12-17 11:31] jmcanterafonseca commented on #335
it was thought at that time that using null could be a good idea, to convey the fact that something was not known. Given the fact that NGSI-LD does not allow null values, I think we should remove that.

Would you be happy to make a PR fixing that? @emastrosimone

[2018-12-28 11:07] StephaneRouxNCA opened #340 "Volatile Organic Compound values in AirQualityObserved"
Light VOC (formaldehyde equivalent) and total VOC (toluene equivalent) measurements are measured in the air.

What is then name of the attribute i should use?
volatileOrganicCompound_light
volatileOrganicCompound_total
VOC_light
VOC_total

[2019-01-08 10:04] jmcanterafonseca commented on #317
done

[2019-01-08 10:04] #317 closed

[2019-01-14 12:13] jmcanterafonseca commented on #326
fixed

[2019-01-14 12:13] #326 closed

[2019-01-15 08:22] #291 closed

[2019-01-16 09:31] jmcanterafonseca commented on #340
you can make a PR proposal, and then we can discuss over it

[2019-01-16 10:08] jmcanterafonseca opened #365 "Fix the build"
we need to fix the validation script so that validation is not performed if there is no a JSON Schema available.

[2019-01-16 15:49] jmcanterafonseca commented on #365
#366 ongoing

[2019-01-17 21:05] jmcanterafonseca commented on #365
fixed

[2019-01-17 21:05] #365 closed

[2019-02-04 17:08] emastrosimone opened #372 "Point of Interest schema should have anyOf for address and location."
As stated by the [spec.md](https://github.com/Fiware/dataModels/blob/master/specs/PointOfInterest/PointOfInterest/doc/spec.md)

So I think the schema.json should have:
[code]
instead of `location` field in the required part. In that way any entity having the address only would fail.

[2019-02-04 18:34] jmcanterafonseca commented on #372
good point. please could you provide a patch?

thanks

[2019-02-05 09:24] jmcanterafonseca opened #374 "build is in error"
https://travis-ci.org/Fiware/dataModels/jobs/488939184

@chicco785 please could you fix it?

[2019-02-07 15:55] caa06d9c commented on #374
Fixed: https://github.com/Fiware/dataModels/pull/380

[2019-02-07 15:56] #374 closed

[2019-02-11 12:06] jmcanterafonseca commented on #372
fixed!

[2019-02-11 12:06] #372 closed

[2019-02-28 16:16] neeeel opened #384 "[TrafficFlowObserved] - add vehicle type to model"
the trafficFlowObserved model is almost suitable for storing classified counts, but doesnt allow you to specify what sort of vehicle was observed. I will have a number devices that classifies traffic flow, and each device can produce a number of counts based on vehicle type, eg pedestrian, car, lorry, etc. It doesnt really make sense to create a new model that is almost exactly the same .

Would i

[2019-03-11 12:46] ilarimikkonen opened #387 "problems running the validator: Error: Could not locate the bindings file. Tried:"
HI,

ilari@ilari-XPS13-9333:~/dataModels/validator$ sudo npm install -g
/usr/local/bin/validate -> /usr/local/lib/node_modules/fiware-model-validator/validate.js
npm WARN lifecycle deasync@0.1.13~install: cannot run in wd deasync@0.1.13 node ./build.js (wd=/home/ilari/dataModels/validator/node_modules/deasync)
+ fiware-model-validator@0.5.1
added 123 packages from 106 contributors in 1.715s
ilari@

[2019-03-13 16:12] jmcanterafonseca commented on #387
probably you need to invoke the validator with parameters, see for instance our Travis recipe

https://github.com/FIWARE/dataModels/blob/master/.travis.yml#L37

[2019-03-13 16:27] chicco785 commented on #387
issue is at installation time, and given that ci tests works, it looks something related to @ilarimikkonen  node environment.

[2019-03-13 16:28] jmcanterafonseca commented on #384
@neeeel thanks for reporting this.

We have two possible approaches, the one you are suggesting, which has the drawback of backwards compatibility and a slightly more complicated format to be consumed by clients, and also a slightly less clean representation from the NGSI point of view

or

Can we just have an extra attribute on TrafficFlowObserved which indicates what is the type of Vehicle refer

[2019-03-13 16:30] jmcanterafonseca commented on #340
@StephaneRouxNCA would you be willing to contribute?

[2019-03-13 16:35] neeeel commented on #384
Hi, thanks for your reply
I have been in touch with some synchronicity people who have suggested that for TrafficFlowObserved, I can set the "ControlledProperty" to "TrafficFlow" and then have the "value" field as a "codified string

eg "value":"car:1;van:12"

so its not exactly json and the consumer will still need to some work to format the data at their end. Do you think that would be acceptabl

[2019-03-13 17:39] jmcanterafonseca commented on #384
in that case you would be using the Device data model and not the TrafficFlowObserved data model. I would not recommend that solution though. I would go for a solution as the ones I mentioned.

[2019-03-14 16:03] jmcanterafonseca opened #389 "Harvesters in LD"
Provide LD content for harvesters, taking advantage of an existing script

https://github.com/FIWARE/dataModels/blob/master/tools/normalized2LD.py

[2019-03-15 09:44] neeeel commented on #384
How would this change impact you? ( i am assuming you are the maintener of this model?)

Ideally I would like the first solution ( a json dictionary of key-value pairs) but I realise you need to think about things like backwards compatibility

[2019-03-20 16:05] jmcanterafonseca commented on #387
is this fixed? can we close @ilarimikkonen ?

[2019-03-20 16:08] jmcanterafonseca commented on #384
@neeeel I propose to just add an extra attribute with the Vehicle Type defaulting to `car`

WDYT?

[2019-03-20 16:13] neeeel commented on #384
Im not sure that would do, as I can have multiple values per observation, each one with a different vehicle type and count,

Can you give me an example?

[2019-03-21 06:51] ilarimikkonen commented on #387
yes, problem with my node setup. closing

[2019-03-21 06:51] #387 closed

[2019-03-25 11:55] jmcanterafonseca commented on #384
it is easy. You can have as many TrafficFlowObserved entities as types of vehicles you are observing. So it is a matter of having a `vehicleType` attribute in the TrafficFlowObserved entity.

[2019-03-27 09:44] IEMaestro opened #393 "GtfsTrip [hasService]"
in GtfsTrip datamodel, hasService attribute is optional, when in GTFS trip.txt file its mapped service_id column is mandatory. This attribute SHOULD be marked as mandatory in the datamodels

[2019-03-27 11:34] neeeel commented on #384
our VehicleFlowObserved entities would be being updated every 15 minutes, but that should be fine?

If so, I am happy to add in a vehicleType attribute

[2019-03-27 16:11] jmcanterafonseca commented on #384
yes I don't see any problem in that.

[2019-03-27 16:14] jmcanterafonseca commented on #384
@neeeel  would you be willing to make a contribution to fix it? it shouldn't be difficult

[2019-03-27 16:15] jmcanterafonseca commented on #393
@IEMaestro would you be willing to make a contribution to fix?

[2019-03-27 16:16] jmcanterafonseca commented on #315
I think we can close. @caa06d9c please check

[2019-03-27 17:01] caa06d9c commented on #315
fixed. but build still with errors because of lint check.

[2019-03-27 17:01] #315 closed

[2019-03-31 10:28] neeeel commented on #384
Hi, yes, I will give it a go in the next week.
thanks for your help

[2019-04-02 08:50] emastrosimone opened #396 "GtfsFrequency - StartTime and EndTime regex is wrong"
The regex
[code]
in `startTime` and `endTime` doesn't match strings like: `20:00:00`

A good Regex could be:
[code]
matching times larger than 24:00:00 (as expected by the [GTFS Specification](https://developers.google.com/transit/gtfs/reference/#frequenciestxt)).

At the same time this avoids frequencies larger than 48 hours.

[2019-04-02 09:05] jmcanterafonseca commented on #396
@emastrosimone an easy fix, could you provide a contribution?

[2019-04-02 09:20] emastrosimone opened #397 "GtfsRoute missing field"
GtfsRoute:
The `shortName` field is present in the required section but is missing in the properties.

[2019-04-02 10:10] emastrosimone opened #398 "GtfsStopTime - arrivalTime and departureTime regex is wrong"
As for #396 .

The regex
[code]
in startTime and endTime doesn't match strings like: 20:00:00

A good Regex could be:
[code]
matching times larger than 24:00:00 (as expected by the GTFS Specification).

At the same time this avoids spans larger than 48 hours.

[2019-04-02 10:22] emastrosimone opened #399 "GtfsStopTime - missing field"
GtfsStopTime,
the `stopHeadsign` field is missing in the Json Schema.

[2019-04-02 16:12] #393 closed

[2019-04-02 16:12] jmcanterafonseca commented on #396
fixed

[2019-04-02 16:12] #396 closed

[2019-04-02 16:12] jmcanterafonseca commented on #399
fixed

[2019-04-02 16:12] #399 closed

[2019-04-02 16:13] jmcanterafonseca commented on #397
fixed

[2019-04-02 16:13] #397 closed

[2019-04-02 16:13] jmcanterafonseca commented on #398
fixed

[2019-04-02 16:13] #398 closed

[2019-04-05 08:52] ilarimikkonen commented on #137
@jmcanterafonseca I noticed the same. Could you please explain how this is supposed to work? How can we serve the file local, if it has an url assigned as reference?

[2019-04-05 08:56] fgalan commented on #137
@ilarimikkonen I have the same problem (see https://github.com/FIWARE/dataModels/pull/373#issuecomment-479969230)

[2019-04-05 09:33] jmcanterafonseca commented on #137
see
https://github.com/FIWARE/dataModels/pull/373#issuecomment-480210961

@ilarimikkonen that's easy it is served locally because the id is the same ...

[2019-04-10 09:46] neeeel commented on #384
Hey, I made a pull request a few days ago, would be good if you could check it out and let me know if I did it right

[2019-04-11 10:40] jmcanterafonseca opened #408 "[Agri Data Models] When possible reference AgroVoc"
When feasible, in Agri Data Models it would be great to add a reference to the corresponding AgroVoc concept, that could be done using a property of type URI

http://aims.fao.org/vest-registry/vocabularies/agrovoc

Example:

[code]

[2019-04-11 13:07] jmcanterafonseca opened #409 "[Agri models] add owner to the Entities for which it could make sense"

[2019-04-11 13:09] jmcanterafonseca commented on #409
an owner should be a pointer to an entity of type https://schema.org/Person or https://schema.org/Organization

[2019-04-11 16:41] jmcanterafonseca commented on #409
name of the attribute: `ownedBy`

[2019-04-11 16:41] jmcanterafonseca commented on #409
name of the attribute: `ownedBy`

[2019-04-11 16:57] jmcanterafonseca opened #410 "Create AgriFarm Data Model"

[2019-04-11 16:57] jmcanterafonseca opened #411 "Create AgriMachine AgriMachineType data model"

[2019-04-12 08:52] jmcanterafonseca commented on #411
not needed. Vehicle and Device can be used.

[2019-04-12 08:52] #411 closed

[2019-04-24 15:37] fdelavega commented on #409
AgriParcelOperation and AgriParcelRecord both point to an AgriParcel which includes the owner. On the other hand, crop, pest, and product type represent generic concepts, so I don't think an ownedBy field should be included there.

@jmcanterafonseca do you think ownerBy property should be included in any other datamodel?

[2019-04-25 05:42] jmcanterafonseca commented on #409
we can close, thanks!

[2019-04-25 05:42] #409 closed

[2019-04-26 09:01] jmcanterafonseca opened #423 "belongsTo relationship to AgriParcel"
in order to enable relationships between AgriParcel and AgriFarm we need a new Attribute

[2019-04-26 09:06] jmcanterafonseca opened #424 "Enhance AgriParcelOperation"
workOrder        Attribute of type URL
workRecord      Attribute of type URL
irrigationRecord Attribute of type URL

[2019-04-26 09:19] jmcanterafonseca opened #425 "[Agri] Enhance Device to include implements in Agri"
https://github.com/ADAPT/ADAPT/blob/c38badbeb9049a817353b3d810845adf3e6ff0b1/source/ADAPT/Equipment/DeviceElementTypeEnum.cs

[2019-04-26 09:20] jmcanterafonseca opened #426 "Add seeAlso to Agri entities so that they can be linked to other data model spaces"
seeAlso attribute Array of URIs

[2019-04-26 09:23] jmcanterafonseca opened #427 "Create AgriApp Data Model"
Tentative fields:

`name`
`description`
`endpoint`
`category`. Possible values to be checked with UC 1.4
`provider`. Person or Organization.
`version`.

[2019-04-26 10:11] jmcanterafonseca opened #429 "[Agri data models] relatedSource attribute"
We need a new Attribute to identify related sources of entity data (other apps or systems)

[code]

[2019-05-06 11:33] fdelavega commented on #423
I guess this attribute should also be included in AgriGreenHouse data model as is a type of agriparcel.

[2019-05-06 17:16] caa06d9c commented on #389
When invoking the programme the URI prefix shall be  https://uri.fiware.org/ns/dataModels , instead of http://uri.fiware.org/ns/dataModels

[2019-05-07 11:57] stbnrivas opened #447 "reorder attributtes spec.md of `OffStreetParking` `OnStreetParking` to harmonize"
Hello, would you accept a pull request with the reorder attributtes of spec.md into both files to get that both have the same order of attributtes. Differents attributtes will be place at the end.

However this be useful to see easilier differents between and whether we need two models or can be simplifyed to only one

I promise be careful ;-). If you prefer I can do step by step into multiples PR

[2019-05-07 13:18] jmcanterafonseca commented on #447
@stbnrivas  two PRs would be ok, thanks!

[2019-05-08 07:17] jmcanterafonseca opened #448 "LD @context automatic generation improvements"
1/
When invoking (for the automatic @context generation) `https://github.com/FIWARE/dataModels/blob/master/tools/ldcontext_generator.py` the URI prefix shall be `https://uri.fiware.org/ns/dataModels` , instead of `http://uri.fiware.org/ns/dataModels`,
i.e change `http` by `https`

2/
We need an HTTP redirection from `https://schema.lab.fiware.org/ld/context/` to `https://schema.lab.fiware.org/ld/j

[2019-05-08 09:36] stbnrivas commented on #447
facepalm ... I'm sorry, I did not remember splitting into two PR. Do you prefer the divided approach? I can do it if you want

[2019-05-08 11:22] caa06d9c commented on #448
I can redirect everything from https://schema.lab.fiware.org/ld to https://schema.lab.fiware.org/ld/jsonldcontext.jsonld, is it ok?

[2019-05-08 14:20] caa06d9c commented on #448
Done.
URLs to check:

- [Full](https://schema.lab.fiware.org/ld/jsonldcontext.jsonld)
- [Folder](https://schema.lab.fiware.org/ld/)
- [SubFolder](https://schema.lab.fiware.org/ld/context/)
- [Wrong FIle](https://schema.lab.fiware.org/ld/test.json)

[2019-05-08 16:50] jmcanterafonseca commented on #448
@caa06d9c wrong file should give 404 response. we only want /ld/ and /ld/context/ to work, can we just adjust the RegExp to fix it and to be more restrictive?

[2019-05-08 17:54] caa06d9c commented on #448
Done

[2019-05-09 10:54] jmcanterafonseca commented on #448
@caa06d9c as per the feedback I got from W3C better not to use the trailing '/' so we just need to

redirect from `https://schema.lab.fiware.org/ld/context` to `https://schema.lab.fiware.org/ld/jsonldcontext.jsonld``

sorry for the mess

thanks!

[2019-05-09 10:57] caa06d9c commented on #448
Done. `/ld`,` /context`   redirects to `/ld/jsonldcontext.jsonld`

[2019-05-09 11:03] jmcanterafonseca commented on #448
verified. closed

[2019-05-09 11:03] #448 closed

[2019-05-14 16:07] jmcanterafonseca commented on #429
I'm afraid entityId does not refer to an NGSI Entity Id but to an entity id in an external app, so I think we need to rename this to `applicationEntityId` and let it be a plain string

[2019-05-14 17:06] fdelavega commented on #426
I guess this is done

[2019-05-14 17:07] fdelavega commented on #423
This is done

[2019-05-14 17:07] fdelavega commented on #408
I think this is finished

[2019-05-15 14:41] jmcanterafonseca commented on #447
fixed

[2019-05-15 14:41] #447 closed

[2019-05-15 14:41] jmcanterafonseca commented on #427
fixed

[2019-05-15 14:41] #427 closed

[2019-05-15 14:42] jmcanterafonseca commented on #426
fixed

[2019-05-15 14:42] #426 closed

[2019-05-15 14:42] jmcanterafonseca commented on #423
fixed

[2019-05-15 14:42] #423 closed

[2019-05-15 14:42] jmcanterafonseca commented on #408
fixed

[2019-05-15 14:42] #408 closed

[2019-05-15 14:43] jmcanterafonseca commented on #410
fixed

[2019-05-15 14:43] #410 closed

[2019-05-15 20:36] jaimeventura opened #462 "[Civic Issue Tracking] Datamodel names/types should not have colon mark"
Datamodel name ‘Open311:ServiceType’ and ‘Open311:ServiceRequest’ should not have colon mark, so that in doesn’t interfere with the id convention ’ urn:ngsi-ld:<datamodel_name>:<identifier>’.

[2019-05-15 21:22] jaimeventura opened #463 "[GtfsStop] 'operatedBy' property should not be Mandatory"
Although the existence is understandable, it shouldn't be mandatory since doest exist in Stops original documentation[1].

Im available to create a PR for this, but first I would like raise attention to the following.

GTFSSTOP datamodel documentation[2] states that 'operatedBy' attribute's type is Relationship and 'It shall point to an Entity of Type GtfsAgency'( Agency that operates this stop.)

[2019-05-16 08:16] jmcanterafonseca commented on #463
@jaimeventura it makes sense. looking forward to your PR.

[2019-05-16 08:17] jmcanterafonseca commented on #462
@jaimeventura very true!. please could you propose a fix?

thanks!

[2019-05-27 07:54] #462 closed

[2019-05-28 22:56] jaimeventura commented on #462
@jmcanterafonseca: I just noticed that the folder where these datamodels are "Open311_ServiceRequest" and "Open311_ServiceType". They should be named "Open311ServiceRequest" and "Open311ServiceType" respectively (without the '_'), right?

[2019-05-29 07:34] jmcanterafonseca commented on #462
@jaimeventura yep, please could you take care? also you would need to update `mkdocs.yml`

thanks!

[2019-05-29 07:37] jmcanterafonseca commented on #463
@jaimeventura can we close this?

[2019-05-29 10:30] minimalisti opened #469 "Versioning data models"
Currently FIWARE data models do not have versioning information. We at CityIoT project have found that it would be useful to have this information in the data, or linked with it. Indicating what version of the data model was used would easy the development of applications using the data.

Some hinitial thoughts about how this versioning could be implemented:
- own versioning information could be a

[2019-05-29 11:01] jmcanterafonseca commented on #469
current idea is to have just a pointer to the schema used to represent an Entity

[code]

[2019-05-29 12:12] minimalisti commented on #469
@jmcanterafonseca : very happy to hear that versioning has already been thought about! :+1:

It seems to me that current FIWARE data models in this repo do not have a 'schema' attribute. Is it suggested to add this attribute to data models in use now?

Or do you mean that versioning will be introduced with NGSI-LD? Schemas included in the @context-attribute seem to have (optional?) versioning in t

[2019-05-29 13:35] jmcanterafonseca commented on #469
yes, idea is to eventually add the `schema` attribute to the Data Models and to support it natively in NGSI-LD. In the meantime, I believe you can use it as a versioning mechanism in your application.

[2019-05-31 06:04] minimalisti commented on #469
There is a obvious problem with everyone now using FIWARE data models adopting their own versioning schemes and version numbering before something official appears. In my view the tags used to indicate versions across all systems using FIWARE data models must be the same, so that application development is feasible, as for example WeatherObserved version 3 would mean that certain attributes are in

[2019-05-31 07:31] jmcanterafonseca commented on #469
we will recommend something once it is agreed at ETSI level, but, as I said, chances for the `schema` attribute are very high.

[2019-05-31 10:22] fdelavega commented on #425
Not sure all the categories included in the linked enum can be considered a device. Fo example, machine used for tractors would map with Vehicle data model

[2019-06-07 10:20] #389 closed

[2019-06-12 10:00] jmcanterafonseca opened #474 "Align Animal Data Model - Use common schema for Agri. Document"

[2019-06-12 10:01] jmcanterafonseca commented on #429
need to finish with the animal data model #474

[2019-06-12 10:01] jmcanterafonseca commented on #424
fixed

[2019-06-12 10:01] #424 closed

[2019-06-12 10:03] jmcanterafonseca commented on #300
all schemas are now compliant with Draft 07. Idea will be to be aligned with latest version of JSON Schema. closing for now. Reopen if needed

[2019-06-12 10:03] #300 closed

[2019-06-12 10:03] jmcanterafonseca commented on #236
current idea is to have a single specification that serves for all the NGSI flavours

[2019-06-12 10:07] jmcanterafonseca commented on #196
everything align with latest JSON Schema. we can reopen if needed

[2019-06-12 10:07] #196 closed

[2019-06-12 10:07] jmcanterafonseca commented on #11
we will reopen if people find gaps in Parking Spot

[2019-06-12 10:07] #11 closed

[2019-06-12 10:08] jmcanterafonseca commented on #12
if there are gaps reported by users it will be reopen

[2019-06-12 10:08] #12 closed

[2019-06-12 10:09] jmcanterafonseca commented on #25
it will be revised or reopen when users complain about required fields.

[2019-06-12 10:09] #25 closed

[2019-06-12 10:09] jmcanterafonseca commented on #41
no user complaints. closing and reopening if needed

[2019-06-12 10:09] #41 closed

[2019-06-12 10:10] jmcanterafonseca commented on #126
if SmartSantander has comments, they should be reported here as issues

[2019-06-12 10:10] #126 closed

[2019-06-12 10:11] jmcanterafonseca commented on #67
@fdelavega wanna do this?

[2019-06-12 14:27] caa06d9c commented on #230
I think this issue can be closed because https://github.com/FIWARE/dataModels/pull/386 was landed. Other README.md will be provided together with new harvesters.

[2019-06-12 14:35] jmcanterafonseca commented on #230
yep, thanks! closing

[2019-06-12 14:35] #230 closed

[2019-06-12 15:23] jmcanterafonseca commented on #237
now we have NGSI-LD examples for all Data Models. Next step would be to add them to each spec.md file so that there is a section with example in NGSI-LD in each specification MD file

[2019-06-12 16:03] fdelavega commented on #67
ok, no problem

[2019-06-13 10:26] jmcanterafonseca commented on #425
done.

[2019-06-13 10:26] #425 closed

[2019-06-13 10:27] jmcanterafonseca commented on #384
closed

[2019-06-13 10:27] #384 closed

[2019-06-13 10:31] jmcanterafonseca opened #476 "Ensure we always point to streams.lab in README's"
There are some READMEs where we still point to all, non-working endpoints. We need to fix that to point to streams.lab

Example

https://github.com/FIWARE/dataModels/tree/master/specs/Environment/AirQualityObserved

we are pointing to

curl -S -H 'fiware-service:airquality' -H 'fiware-servicepath:/Spain_Madrid' -H 'x-auth-token:<my_token>' "http://130.206.118.244:1027/v2/entities?options=keyValues

[2019-06-13 10:34] jmcanterafonseca opened #477 "get rid of fiware-service-path in public instance"
As we no longer want to promote the usage of FIWARE Service Path, let's get rid of it from the public instances (so the harvesters should not use the fiware-service-path)

Note: This does not mean that we should change harvesters. Just configure them for not using service-path

[2019-06-13 10:36] jmcanterafonseca commented on #314
closing

[2019-06-13 10:36] #314 closed

[2019-06-13 11:48] caa06d9c commented on #477
- weather-{forecast, observed, stations} - needs to be changed (they do not support empty service-path).
- airquality-madrid, bicycle_hire_station_barcelona, import_pois_tourspain.py  - needs to be changed too, but refactored too, to be aligned with weather-* ones.
- airquality-barcelona not working at all, broken upstream.

so I think it's better to split this issue to 3 steps.
- change weather-*

[2019-06-13 11:51] caa06d9c commented on #476
The same situation as in https://github.com/FIWARE/dataModels/issues/477

It's better to split into several steps:
- change already refactored harvesters and change available links
- refactor other harvesters
- change other links.

[2019-06-13 11:56] caa06d9c commented on #282
Do we need to change them both (examples and harvesters)? visibility is present only in common weather schema.

[2019-06-14 06:18] jmcanterafonseca opened #482 "in harvesters use URIs (urn:ngsi-ld:<Type>:xxxx) as Entity ids"
so that we can promote the usage of URNs as Entity Ids

[2019-06-14 06:20] jmcanterafonseca opened #483 "in harvesters and examples normalize DateTime always to UTC"

[2019-06-14 08:00] caa06d9c commented on #482
May be ngsi? Or schema must be LD as well?

[2019-06-14 08:04] jmcanterafonseca commented on #482
at this stage we keep the v2 schema and just change ids to be URNs, ok?

later we can add an option to harvesters to generate LD content as well,
but that's another story

El vie., 14 jun. 2019 a las 10:00, Dmitrii (<notifications@github.com>)
escribió:

[2019-06-17 14:35] #482 closed

[2019-06-24 10:17] jmcanterafonseca opened #486 "Update AgriFood README.md"
Also mkdocs.yml should have a simple entry pointing to that README.md

[2019-06-26 07:52] jmcanterafonseca commented on #236
fixed #487

[2019-06-26 07:52] #236 closed

[2019-06-26 16:05] jmcanterafonseca opened #489 "Update @context of all Agri Entities to point to FIWARE @context"
The LD @context provided by GSMA is incomplete as it does not include the Entity Type. So the best option is to point to the FIWARE @context as we do in other examples.

[2019-06-28 08:16] jmcanterafonseca opened #490 "https://schema.lab.fiware.org/ld/context to wrap the Core `@context`"
We need that `https://schema.lab.fiware.org/ld/context` returns

[code]
and `https://schema.lab.fiware.org/ld/fiware-datamodels-context.jsonld` should return what is currently returned by `https://schema.lab.fiware.org/ld/context` (`application/ld+json`)

[2019-07-01 10:38] caa06d9c commented on #490
Done. Please, check the result.

[2019-07-01 10:44] jmcanterafonseca commented on #490
@caa06d9c works perfectly, thanks!

[2019-07-01 10:44] #490 closed

[2019-07-02 11:07] mrypma opened #491 "advice required on updating NoiseLevelObserved datamodel"
I'd like to extend the NoiseLevelObserved datamodel to include the frequency spectrum. Which means that it needs to include additional entities that have a frequency and a value. To make it generic, I'd prefer not to be restricted to predefined frequencies and not create attributes like freq_100Hz, freq_150hz etc since the frequency used can pretty much be any positive integer. Please advice on th

[2019-07-03 07:02] jmcanterafonseca commented on #491
type: "StructuredValue": {
  "value": {
        "frequencies": {
           "100":
           "150"
  }
}

[2019-07-03 07:11] jmcanterafonseca opened #492 "Dereference data models Entity type to the corresponding JSON Schema"
For those URIs in the @context that point to Entity types such as

https://uri.fiware.org/ns/datamodels/Building

should be resolved to the corresponding JSON Schema, in that particular case

https://fiware.github.io/dataModels/specs/Building/Building/schema.json

We need to do that for all the Schemas we already have in the Data Models

/cc @jason-fox

[2019-07-04 07:35] jmcanterafonseca commented on #237
closed.

[2019-07-04 07:35] #237 closed

[2019-07-05 10:33] jmcanterafonseca commented on #429
closing

[2019-07-05 10:33] #429 closed

[2019-07-05 11:24] jmcanterafonseca commented on #489
fixed

[2019-07-05 11:24] #489 closed

[2019-07-05 12:35] jmcanterafonseca commented on #492
with #502 it should be pretty easy to differentiate URIs which are representing Entity Types

[2019-07-08 16:26] jmcanterafonseca commented on #335
fixed now. no longer null allowed

[2019-07-08 16:26] #335 closed

[2019-07-09 07:42] jason-fox opened #504 "Building.openingHours does not match schema.org format"
[ldcontext_mappings.json](https://github.com/FIWARE/dataModels/blob/9ac21d77f715f29620b171921bf6d0191f015afa/tools/ldcontext_mappings.json#L5) states that  the `openingHours` attributes is equivalent to the `openingHours` attribute on **schema.org**.

[code]

* The `ParksAndGardens/Garden` example aligns `openingHours` with **schema.org**
* The `Bike/BikeHireDockingStation` aligns `openingHours` w

[2019-07-09 10:50] #504 closed

[2019-07-16 20:09] jaimeventura commented on #477
What about "Fiware-service"?

[2019-07-16 20:27] caa06d9c commented on #477
Exists, and in use at streams.lab.fiware.org

[2019-07-17 17:32] jaimeventura opened #510 "[Open311ServiceRequest] 'service_name' should not be part of this datamodel"
Datamodel Open311ServiceType represents a "service type" (a type of issue) and it has, amongs other, attributes "service_code" (a code that identifies a "service type", i.e. 1234) and a "service_name" with a string representation of that "service type"(i.e. "pothole on the street").

Open311ServiceRequest datamodel represents an issue (i.e 'my street has a big hole on the tar-mat '), which is from

[2019-07-17 17:59] jaimeventura opened #511 "[Open311ServiceType] rename 'open311:type' attribute to 'service_type'"
Open311.org Service Type datamodel includes an attribute named "type" which, to avoid collision with the NGSI entity type, has been renamed to open311:type.

I would like to propose renaming it to "service_type" instead, to comply with the naming convention used (all lower-case, with underscore separating words aka. snake_case)

[2019-07-17 18:23] jaimeventura commented on #463
I believe so.
Thank you.

[2019-07-17 18:23] #463 closed

[2019-07-18 07:30] jason-fox commented on #511
I'm not sure about that one, I think the name `open311:type` is an attempt at namespacing. I'm guessing the following NGSI-LD should be able to resolve to `http://example.com#type`

[code]

This expansion looks syntactically valid to me, the problem is that I don't think this namespace expansion is supported yet, and could reduce the context broker throughput.

At the moment there is no real diffe

[2019-07-18 07:33] jason-fox commented on #511
Requesting further input from @jmcanterafonseca @kzangeli @caa06d9c

[2019-07-18 07:39] jason-fox commented on #510
Could you confirm version of the specification you are referring to? I assume you mean [http://wiki.open311.org/GeoReport_v2](http://wiki.open311.org/GeoReport_v2/#post-service-request)

Given that the specification is a living document, it is entirely possible that the requirement for including `service_name` has been removed at some point. In which case the FIWARE model will need to re-align.

[2019-07-18 09:55] kzangeli commented on #511
First of all, the "builtins" of the API can never be overwritten, e.g. "id" and "type" for entities, "type" for attributes, etc. If we were to let users overwrite those, the the broker wouldn't work.

Once prefix expansion (issue https://github.com/FIWARE/context.Orion-LD/issues/73) is implemented in the broker, constructs like "foo:type" can be used.

However, there's an execution overhead with p

[2019-07-18 11:22] jaimeventura commented on #510
Thats correct.
I was specifically mentioning this[1].
One possible reason for the existence of the field in Open311ServiceRequest in the first place, is because the "Get Service Request" method[2] *does* include that field in the output.
But that doesn't mean it is included in its datamodel. As i previously mention, 'service_name' is neither in the required parameters nor the optional ones for the

[2019-07-18 11:47] jaimeventura commented on #511
Allow me to persist with my proposal with this extra reason: if open311 attribute 'type' was represented (renamed?) as 'open311:type', why not do the same for the other open311 attributes (service_code-> open311:service_code, service_name->open311:service_name, ...)?
I proposed a 'rename', but my ultimate motivation was to have a little more of coherence on the naming across all the ported attribu

[2019-07-18 11:56] kzangeli commented on #511
I agree, if "type" gets a prefix, then they should all have the same prefix.

However, would it be unthinkable to replace"type" with a synonym?
There are plenty ... "sort", "class", "category", "variety", "species", "family" ...

Of all these (and more), it is only "type" that you cannot use, as it is part of the API

[2019-07-18 12:01] jason-fox commented on #511
Whenever there is a model clash with the default namespace I can see three options:

### Prefix the offending elements only  (e.g. `type`->`open311:type`)

-  *Pro:* Current model does this, maintains base attribute naming with Open311 spec
-  *Con:* Inconsistent shortnames

### Rename the offending elements only (e.g. `type`->`category`)

-  *Pro:* Human readable
-  *Con:* Need to find acceptable

[2019-08-07 08:09] jmcanterafonseca commented on #510
@jaimeventura yes, please make a PR

[2019-08-07 08:19] jmcanterafonseca commented on #511
I would go here for the simplest options and if service_type solves the issue, let's go for that.

However, we should do the same, for the sake of consistency, with other attributes that might be prefixed ...

[2019-08-07 11:19] #282 closed

[2019-08-09 15:38] caa06d9c commented on #477
- [x] weather-forecast (Spain and Portugal )
- [x] weather-observed (Spain and Portugal)
- [x] weather stations (Spain)
- [ ] airquality (Madrid)
- [ ] airquality stations (Madrid)
- [ ] airquality (Barcelona)
- [ ] bicycle_hire_station_barcelona
- [ ] import_pois_tourspain

[2019-08-13 11:12] jmcanterafonseca commented on #491
closing as this already landed

[2019-08-13 11:12] #491 closed

[2019-08-13 11:15] jmcanterafonseca opened #517 "In all LD Examples, in the @context array the Core @context should appear the last"
/cc @jason-fox /cc @kzangeli

I think this massive change can be done with a script

[2019-08-14 14:32] #517 closed

[2019-08-14 16:41] #492 closed

[2019-08-14 16:43] jmcanterafonseca opened #519 "Improvements to the ld @context generation and html generation"
to be followed up with @caa06d9c

[2019-08-21 09:52] jmcanterafonseca opened #520 "In the AgriDataModels for Relationships reference the EntityIdentifier"
such as in https://github.com/FIWARE/dataModels/blob/master/specs/WasteManagement/WasteContainer/schema.json#L127

instead of saying just "type": "uri"

(be careful not all "type": "uri" will have to be changed, only those that point to other Entities ...

Thanks!

[2019-08-21 10:27] jason-fox commented on #511
After much discussion with @jmcanterafonseca I would like to propose the following:

- Rename `open311:type` to `open311Type`. (camelCasing)
- Update the open311ServiceType spec to clarify the relationship with open311.
- Update the guidelines to explain what to do in case of clashes with core  NGSI

### Reasoning

- we *absolutely* cannot clash with `type` - core context always wins.
- we already

[2019-08-21 10:37] kzangeli commented on #511
Not using colon (:) has another important advantage - to avoid partial expansion which when used slows down the broker.

[2019-08-21 10:38] jason-fox opened #522 "Amend contradictory LD definitions to ensure Core context always wins"
Based on previous discussions we need to update some of the `@context` for the data models to ensure _Core context always wins_.

See https://github.com/FIWARE/context.Orion-LD/issues/180 and https://github.com/FIWARE/dataModels/issues/511

Any common attribute such as `type`, `name` or `description` (as defined in the core NGSI-LD spec) must defined as using **https://uri.etsi.org/ngsi-ld/...** a

[2019-08-22 13:42] #522 closed

[2019-08-27 13:50] fdelavega commented on #474
I think this one can be closed

[2019-08-28 10:02] jmcanterafonseca commented on #520
fixed

[2019-08-28 10:02] #520 closed

[2019-08-28 10:03] jmcanterafonseca opened #525 "In the AgriDataModels check the missing Entity Types and add them"

[2019-08-28 10:05] jmcanterafonseca commented on #519
we need to generate elements with @type: @id for those JSON-Schema properties which point to `EntityIdentifierType` (instead of only those which name starts with `ref`, which it is a weak condition).

[2019-09-03 16:37] jmcanterafonseca commented on #519
#527 fixes it

[2019-09-04 07:31] jmcanterafonseca opened #528 "In the Agri Data Models align Relationship names to be always verbs"
This implies changes also in the GSMA Repos.

[2019-09-04 07:33] jmcanterafonseca opened #529 "[Agri] Ensure documentation of extended Attributes (non present in GSMA) is added at least to JSON Schema"

[2019-09-04 07:35] jmcanterafonseca opened #530 "[Agri] Swap AgriProduct and AgriProductType"

[2019-09-04 07:51] jmcanterafonseca opened #532 "[Agri] All the timestamp metadata in NGSIv2 examples is wrong"
The metadata type is missing ... and it should be "DateTime"  ...

[2019-09-04 08:20] jmcanterafonseca opened #534 "ensure Relationship "agriProduct" is renamed to "hasAgriProductType""

[2019-09-04 09:14] jmcanterafonseca commented on #530
PR #533

[2019-09-04 09:21] jmcanterafonseca commented on #486
@fdelavega please ensure that once other data models land, the README.md file is updated

thanks!

[2019-09-05 08:46] #519 closed

[2019-09-05 08:50] jmcanterafonseca commented on #530
fixed

[2019-09-05 08:50] #530 closed

[2019-09-05 08:53] jmcanterafonseca commented on #238
already fixed, closing

[2019-09-05 08:53] #238 closed

[2019-09-05 08:55] jmcanterafonseca commented on #218
all schemas are validating ok, thus closing this issue.

[2019-09-05 08:55] #218 closed

[2019-09-06 09:42] pietercolpaert opened #536 "Reusing existing Linked Data vocabularies"
I’ve noticed the work on a JSON API for GTFS data here: https://github.com/FIWARE/dataModels/blob/master/specs/UrbanMobility/GtfsTrip/doc/spec.md

It links to Linked GTFS, but as far as I can see, the Linked GTFS terms are not mentioned in the `@context`. Furthermore, a specific way of creating non HTTP identifiers is put forward, contrary to existing mapping scripts such as
 -  https://github.com

[2019-09-06 09:49] pietercolpaert opened #537 "Transmodel and Mobivoc vocabularies"
Transmodel, the European CEN standard, is becoming a Linked Data ontology

See
 - https://github.com/oeg-upm/transmodel-ontology
 - https://speakerdeck.com/pietercolpaert/transmodel-as-linked-data-the-first-step

Furthermore, there‘s also mobivoc for adding schema.org-like annotations in web pages about e.g., charging points: https://github.com/vocol/mobivoc

The current specs on transport and urb

[2019-09-09 09:21] fdelavega commented on #532
Do you mean in DateTime attributes, right? Not createdAt and modifiedAt ones

[2019-09-09 09:24] fdelavega commented on #534
This one is very related to #528

[2019-09-11 12:13] jmcanterafonseca commented on #536
yes, we need to Cross Reference Linked GTFS in the @context

[2019-09-11 12:13] jmcanterafonseca commented on #536
regarding ids, please could you put an example of proper ids?

[2019-09-11 12:22] jmcanterafonseca commented on #537
well, that would imply reimplementing all the data models ... so for the time being nothing is gonna be changed ...

[2019-09-13 10:07] jmcanterafonseca commented on #536
you can use any URI for identifying your Entities in NGSI-LD, so fine.

Existing Linked Open Data vocabularies can be used by just defining the proper mappings in the @context. Our @context generation tool maps terms by default to a FIWARE URI but exceptions can be defined in the following file

https://github.com/FIWARE/dataModels/blob/master/tools/ldcontext_mappings.json

So you can make a PR to

[2019-09-13 10:50] jmcanterafonseca commented on #532
it is in NGSI v2 metadata. You need to add "type": "DateTime"

thanks!

[2019-09-24 07:26] pietercolpaert commented on #536
@jmcanterafonseca I tried to work on this, but immediately came in conflict with the data model here. Simple example: you use 0, 1 or 2 as values for wheelchair accessibility. Back in 2014 we chose to map this to URIs instead of literal values.

Are these data models still able to change?

[2019-09-24 18:41] jmcanterafonseca commented on #536
sure, they are not written in stone. please propose alternative values for
that and we can fix it.

El mar., 24 sept. 2019 a las 9:26, Pieter Colpaert (<
notifications@github.com>) escribió:

[2019-10-03 10:25] fdelavega commented on #534
I think this one can be closed

[2019-10-03 10:26] fdelavega commented on #532
I think this one can be closed

[2019-10-14 07:36] jmcanterafonseca commented on #534
@fdelavega can you reference the PR on which this was fixed?

[2019-10-14 07:36] jmcanterafonseca commented on #532
@fdelavega can you reference the PR on which this was fixed?

[2019-10-14 07:37] jmcanterafonseca commented on #529
@fdelavega what is the status of this?

[2019-10-14 07:37] jmcanterafonseca commented on #528
@fdelavega what is the status of this?

[2019-10-14 07:38] jmcanterafonseca commented on #525
we can close this

[2019-10-14 07:38] #525 closed

[2019-10-14 07:38] jmcanterafonseca commented on #486
@fdelavega can this be closed?

[2019-10-14 07:39] jmcanterafonseca commented on #474
closing

[2019-10-14 07:39] #474 closed

[2019-10-14 07:40] jmcanterafonseca commented on #469
see PR #549

[2019-10-14 07:42] jmcanterafonseca commented on #476
closing

[2019-10-14 07:42] #476 closed

[2019-10-14 07:43] jmcanterafonseca commented on #483
@caa06d9c can this be closed?

[2019-10-14 07:48] jmcanterafonseca opened #550 "[Roadmap] Generate Data Model documentation from JSON Schema"
As a roadmap evolution of Data Models it would be great to:

* Have a single source of truth for Data Models, ideally the JSON Schema, which have to be enriched with the description of each attribute and probably other extended fields (or annotations) to support any kind of extra metadata needed to do a proper generation. For instance, an annotation could be a flag that denotes whether a member is

[2019-10-14 08:32] jmcanterafonseca opened #551 "[Roadmap] Generate FIWARE Data Models Schema in *JSON-LD* as it happens with schema.org"
See https://schema.org/version/3.9/schema.jsonld as a representation of the schema of Schema.org in JSON-LD.

It would be good to do the same with the Schema of FIWARE Data Models as @jason-fox did within the Tutorials see https://github.com/FIWARE/tutorials.Relationships-Linked-Data#relationships-with-linked-data

It has to be decided what would be the source for generating such schema in JSON-LD

[2019-10-14 08:44] jmcanterafonseca opened #552 "[Roadmap] Add NGSI-LD examples validation to CI"
Once Orion-LD is becoming more and more stable, the CI Process shall be updated to validate NGSI-LD examples using Orion-LD.

[2019-10-14 08:45] jmcanterafonseca commented on #552
/cc @kzangeli @chicco785

[2019-10-14 09:25] fdelavega commented on #486
I think so

[2019-10-14 09:27] fdelavega commented on #528
The FIWARE part is ready and the PR to the GSMA is approved. Althought, we are waiting for response regarding the potential issue with the context

[2019-10-14 09:31] fdelavega commented on #532
is the #542

[2019-10-14 09:32] fdelavega commented on #534
#533 and #539

[2019-10-14 09:35] #532 closed

[2019-10-14 09:35] #534 closed

[2019-10-14 09:36] jmcanterafonseca commented on #528
as the FIWARE part is fixed, closing this.

[2019-10-14 09:36] #528 closed

[2019-10-15 06:46] jmcanterafonseca opened #553 "[Roadmap] Full documentation of Smart Agri Data Models"
Currently in this Repository for Smart Agri there is only the schemas and examples, relying on the GSMA Github space for descriptions. However, new Attributes and Entities have been defined here. So we have here two options:

1. Align with GSMA and make PRs to GSMA's Repo
2. Develop the full documentation in this Repo.

If we go for option 2, then the new documentation generation tool to be develo

[2019-10-15 06:49] jmcanterafonseca opened #554 "[Roadmap] Move more data models to the smart-data-models initiative or future initiatives"
Once other Data Models are more curated and cities have validated them or are demanding them it could make sense to move them to the https://github.com/smart-data-models Organization.

[2019-10-15 06:53] jmcanterafonseca commented on #165
this issue is related to #550

[2019-10-15 06:55] jmcanterafonseca commented on #67
@fdelavega reminder

[2019-10-15 09:36] jmcanterafonseca commented on #529
to be solved together with #553

[2019-10-15 10:31] jmcanterafonseca commented on #469
fixed https://github.com/FIWARE/data-models/blob/master/specs/guidelines.md#versioning

[2019-10-15 10:31] #469 closed

[2019-10-15 16:05] pietercolpaert commented on #536
@jmcanterafonseca So, we had to wrap our heads fully around the spec to understand how we could do that. Sorry it took a while to respond.

We created a small example below. Can you validate this looks like something you would use?

We propose not to use the expanded form because with this example:
[code]
The range of  e.g., `gtfs:headsign` is not any longer an `xsd:string`. This break compliance

[2019-10-15 16:22] jmcanterafonseca commented on #536
that can work but instead of putting the GTFS mappings inline in the
@context you can add those mappings to
https://github.com/FIWARE/data-models/blob/master/tools/ldcontext_mappings.json
so that when the FIWARE Data Models @context is automatically generated
mappings for GTFS are conveniently added. That way you could still be using
https://schema.lab.fiware.org/ld/context as your main @context

[2019-10-15 16:24] jmcanterafonseca opened #555 "[Roadmap] Consider renaming https://uri.fiware.org/ns/data-models# to https://vocab.fiware.org/terms# and setting up all the infrastructure DNS resolution, etc."

[2019-12-06 05:52] urabe0225 opened #563 "Dead link"
the page isn’t working  http://www.who.int/uv/intersunprogramme/activities/uv_index/en/
in [specs/Weather/WeatherForecast/doc/spec.md](https://github.com/FIWARE/data-models/blob/master/specs/Weather/WeatherForecast/doc/spec.md)

[2019-12-11 16:32] fgalan commented on #563
Sure? :) I have just clicked and my browsers shows:

![imagen](https://user-images.githubusercontent.com/1534240/70640430-3752a500-1c3c-11ea-8bc0-986b34958692.png)

[2019-12-26 08:11] urabe0225 commented on #563
I am sorry.
When I accessed it, it was dead page.

[2019-12-26 08:11] #563 closed

[2020-01-08 11:35] Rui-Magalhaes-APD opened #567 "[WeatherObserved] windDirection attribute in Data model, schema doesn't match definition"
The [definition](https://github.com/FIWARE/data-models/blob/master/specs/Weather/WeatherObserved/doc/spec.md) of the windDirection states: "The wind direction expressed in decimal degrees compared to geographic North (measured clockwise), encoded as a Number." This definition implies that North is the 0º and that would make the measure range between 0º and 360º. But the [json schema](https://githu

[2020-01-27 12:04] albertoabellagarcia commented on #567
I am Alberto Abella, currently starting to curate data models. Rui, you are definitely right, and this change will be implemented as you suggest.

[2020-01-27 14:14] #567 closed

[2020-01-27 16:35] Rui-Magalhaes-APD commented on #567
Thanks for the correction.
The Weather forecast, for the wind measurements, has the same source, so it should be corrected to.
I have seen the change on the json schema. But the example still has a negative value ("-45"). It should be changed too, to avoid confusion for others

[2020-02-05 17:54] albertoabellagarcia opened #569 "Schema url is not precise"
the current url to an schema
http://json-schema.org/schema#

redirects to a
https://json-schema.org/draft/2019-09/schema

Not sure about what possible issues could come up with it.

[2020-02-26 12:10] Rui-Magalhaes-APD opened #570 "[WeatherObserved] Creation of attribute uVIndex"
I suggest the creation of the attribute uVIndex since there are weather observation devices that measure the UV index.

[2020-03-11 16:14] jaimeventura commented on #570
Hey all,
any update on this?
I volunteer do work on this and issue a pull request,  if there an agreement in inclusion of such atribute in the datamodel.

[2020-03-11 16:29] jaimeventura opened #573 "[Vehicle] Update the enum list of vehicleType attribute"
According to the datamodel's [documentation](https://github.com/FIWARE/data-models/blob/master/specs/Transportation/Vehicle/Vehicle/doc/spec.md), the vehicleType attribute allows values defined by VehicleTypeEnum a  [DATEX 2 version 2.3](http://d2docs.ndwcloud.nu/_static/umlmodel/v2.3/index.htm?goto=2:3:6:320).

But not all the vehicle types in DATEX 2 version 2.3 are allowed on `vehicleType` attr

[2020-03-16 10:36] albertoabellagarcia commented on #570
move this issue to https://github.com/smart-data-models. please

[2020-03-16 12:13] Rui-Magalhaes-APD commented on #570
I would gladly do it, but unfortunately I don't have permissions to do it. Can you do it or give permissions to do it?
Thank you.

[2020-03-19 23:26] jaimeventura commented on #573
Im closing this issue in favor of [this one](https://github.com/smart-data-models/dataModel.Transportation/issues/4).

[2020-03-19 23:26] #573 closed

[2020-03-20 08:46] Rui-Magalhaes-APD commented on #570
Im closing this issue in favor of [this one](https://github.com/smart-data-models/dataModel.Weather/issues/5).

[2020-03-20 08:46] #570 closed

[2020-03-25 11:18] #569 closed

[2020-03-25 23:48] albertoabellagarcia commented on #555
After migration, there is not an issue with these links.

[2020-03-25 23:48] #555 closed

[2020-03-30 09:36] albertoabellagarcia commented on #68
Implemented

[2020-03-30 09:36] #68 closed

[2020-03-30 09:38] albertoabellagarcia commented on #67
Implemented

[2020-03-30 09:38] #67 closed

[2020-03-30 09:39] albertoabellagarcia commented on #66
Unclear what is requested, please reopen if needed.

[2020-03-30 09:39] #66 closed

[2020-03-30 09:41] albertoabellagarcia commented on #52
it would need to be reopened in case more status are required

[2020-03-30 09:41] #52 closed

[2020-03-30 09:43] albertoabellagarcia commented on #47
it would be done if required. Plese reopen this was the case.

[2020-03-30 09:43] #47 closed

[2020-03-30 09:45] albertoabellagarcia commented on #34
Further description is required. Please reopen this issue at https://github.com/smart-data-models/dataModel.Parking

[2020-03-30 09:45] #34 closed

[2020-03-30 09:46] albertoabellagarcia commented on #30
Move this issue to the new repository https://github.com/smart-data-models/dataModel.WasteManagement

[2020-03-30 09:46] #30 closed

[2020-03-30 09:47] albertoabellagarcia commented on #24
Reopen this issue in the new repository https://github.com/smart-data-models/dataModel.Parking

[2020-03-30 09:47] #24 closed

[2020-03-30 09:48] albertoabellagarcia commented on #22
open this at new repositories https://github.com/smart-data-models/dataModel.Parking

[2020-03-30 09:48] #22 closed

[2020-03-30 09:49] albertoabellagarcia commented on #20
Move to the new repository https://github.com/smart-data-models/dataModel.Parking

[2020-03-30 09:49] #20 closed

[2020-03-30 14:50] albertoabellagarcia commented on #77
so, It is clear the difference between azimuth and heading. We have in the data model heading. Are you suggesting using also / replace with azimuth?
Either case currently evolution of these data models are here. https://github.com/smart-data-models/dataModel.Transportation/blob/master/Vehicle/schema.json
please reopen this issue if necessary there https://github.com/smart-data-models/dataModel.Tra

[2020-03-30 14:50] #77 closed

[2020-03-30 15:00] albertoabellagarcia commented on #88
moved, if necessary to new repository https://github.com/smart-data-models/dataModel.Weather

[2020-03-30 15:00] #88 closed

[2020-03-30 15:03] albertoabellagarcia commented on #91
Required further details in order of implement changes.

[2020-03-30 18:22] albertoabellagarcia commented on #137
1) thanks for the comments
2) This repo is currently frozen and no longer evolution will be held there. Currently, we deal with it here  https://github.com/smart-data-models
3) now it validates
https://raw.githubusercontent.com/smart-data-models/dataModel.Weather/master/WeatherObserved/example.json
against the schema
https://raw.githubusercontent.com/smart-data-models/dataModel.Weather/master/Weat

[2020-03-30 18:22] #137 closed

[2020-03-30 18:28] albertoabellagarcia commented on #165
In the process to redesign the documentation process in order to make it more flexible, simple and subject to be automated.

[2020-03-30 18:29] albertoabellagarcia commented on #194
to be reviewed. Seems useful.

[2020-03-30 18:43] albertoabellagarcia commented on #305
Currently reviewing the method to generate a multilanguage documentation.

[2020-03-30 19:09] albertoabellagarcia commented on #340
this data model is currently being evolved here https://github.com/smart-data-models/dataModel.Weather

In order to meet the guidelines (https://github.com/smart-data-models/data-models/blob/master/guidelines.md) for the naming conventions they should be named
volatileOrganicCompoundLight
volatileOrganicCompoundTotal

but I'd like to have more info why these substances have to have 'two' fields wh

[2020-03-30 19:10] albertoabellagarcia commented on #477
these services are no longer working however It is considered their reactivation.

[2020-03-30 20:14] fisuda commented on #305
@albertoabellagarcia I understand. I close this issue.

[2020-03-30 20:14] #305 closed

[2020-04-02 08:22] albertoabellagarcia commented on #483
not further discussion for 6 months. close it.

[2020-05-04 14:14] albertoabellagarcia commented on #554
done :-D

[2020-05-04 14:14] #554 closed

[2020-05-07 13:39] albertoabellagarcia commented on #551
this is how it is going to be solved

[2020-05-07 13:39] #551 closed

[2020-05-14 07:11] flopezag commented on #483
- [ ] weather-forecast (Spain and Portugal )
- [ ] weather-observed (Spain and Portugal)
- [ ] weather stations (Spain)
- [ ] weather stations (Portugal)
- [x] airquality (Madrid)
- [ ] airquality stations (Madrid)
- [ ] airquality (Barcelona)
- [ ] bicycle_hire_station_barcelona
- [ ] import_pois_tourspain

[2020-05-14 07:17] flopezag commented on #477
airquality (Madrid) is recovered and resolved some open issues on it. Need to analyse the rest of issues

[2020-05-20 14:51] albertoabellagarcia commented on #553
it will be checked 'soon' with an automatic tool to check that all properties defined in the schema, are defined in the spec and in the examples

[2020-05-20 14:51] #553 closed

[2020-05-20 14:52] albertoabellagarcia commented on #552
Definitely

[2020-05-20 14:52] #552 closed

[2020-05-20 14:53] #165 closed

[2020-05-20 14:53] #550 closed

[2020-05-20 14:57] albertoabellagarcia commented on #536
Hi Pieter it's me Alberto Abella.
could you move this issue to here
https://github.com/smart-data-models/dataModel.UrbanMobility
because these repos are frozen since February and evolution would be derived to there

[2020-05-20 14:57] #536 closed

[2020-05-20 15:00] albertoabellagarcia commented on #70
To be done globally with all the attributes not only with dates ones

[2020-05-20 15:00] #70 closed

[2020-05-20 15:01] #91 closed

[2020-05-20 15:14] albertoabellagarcia commented on #134
this should be moved to https://github.com/smart-data-models

[2020-05-20 15:14] #134 closed

[2020-05-20 17:52] albertoabellagarcia commented on #511
pending to be implemented

[2020-05-20 17:57] albertoabellagarcia commented on #324
If there is a use case for this property, please reopen the issue, otherwise remain closed.

[2020-05-20 17:57] #324 closed

[2020-07-03 12:30] ilarimikkonen opened #576 "Location type used in WeatherObserved data model cause error or StructuredValues"
We have been working on creating a data model.

QUESTION: Is the location structure specified in the https://github.com/FIWARE/data-models/tree/master/specs/Weather/WeatherObserved correct and if so, how should it be utilised? This question has arrived, since we have observed the following behaviour:

if this data is pushed:
[code]

Everything is fine, but if this data (location block in JSON is c

[2020-07-03 13:01] fdelavega commented on #576
Hi @ilarimikkonen,

You are mixing the key values and normalized formats. In first example, you are creating properly the location using the normalized format, so you provide the type (geo:json) and the value:

{
        "type": "Point",
         "coordinates": [
                    2.73667,
                    39.5608
          ]
}

In the second example, all the attributes are normalized, except

[2020-07-03 13:13] ilarimikkonen commented on #576
@fdelavega thank for a super quick reply! So the point is that: If there is a location in the json data always use normalised data model like this: https://github.com/FIWARE/data-models/blob/master/specs/Weather/WeatherObserved/example-normalized.json giving the type and value + stay away from keyValues?

[2020-07-03 13:13] ilarimikkonen commented on #576
+ does anyone know if there is some documentation on the options attribute? I could not find anything on that..

[2020-07-03 13:38] fgalan commented on #576
Yes.

The options query parameter part of the [NGSIv2 specification](http://telefonicaid.github.io/fiware-orion/api/v2/stable/). In addition, check the [Orion NGSIv2 implementation notes](https://fiware-orion.readthedocs.io/en/master/user/ngsiv2_implementation_notes/index.html), with some diferences implemented in Orion regarding the NGSIv2 specification.

[2020-09-28 00:39] albertoabellagarcia commented on #194
these are the main purpose of the relationships in NGSI-LD .
could we comment this in a call?

[2020-09-28 00:42] albertoabellagarcia commented on #576
This discussion has not to be held in the repo. Please use this link instead. https://github.com/smart-data-models/dataModel.Weather/tree/master/WeatherObserved

[2020-09-28 00:42] #576 closed

[2020-11-10 11:33] albertoabellagarcia commented on #280
The first step to this is the drafted multisensor data model. You can find out something here
[https://github.com/smart-data-models/incubated/blob/master/multisensor/schema.json](https://github.com/smart-data-models/incubated/blob/master/multisensor/schema.json)
it is just an idea but aligned with your request. anyhow could you move this request to the Smart data models initiative?
Best

[2020-12-23 09:24] superdell opened #582 "Error Json-Ld parse context"
Error Json-Ld parse context, not valid:
ccs/sae
bbox
biodieser ethanol
commercial supply
hybrid electric/diesel
hybrid electric/petrol
rainwater capture
snow/ice
water dam

Tested with https://json-ld.org/playground/ and https://github.com/filip26/titanium-json-ld

[2020-12-23 10:47] Ciro99678 commented on #582
Same error with this context : https://schema.lab.fiware.org/ld/context.jsonld

[2020-12-26 19:29] albertoabellagarcia commented on #582
1) this repo is here only for historical reasons. Development is done [Smart data models initaitive](https://github.com/smart-data-models) and its [web page](https://smartdatamodels.org/)
2) It's been fixed issues on these:  ccs/sae,  hybrid electric/diesel, hybrid electric/petrol, now/ice
could you move this issue to this [repo](https://github.com/smart-data-models/data-models) and provide furthe

[2020-12-26 19:29] #582 closed

[2020-12-26 19:31] albertoabellagarcia commented on #529
Now documentation is generated automatically for all the data models in the [smart data models](https://github.com/smart-data-models). Further info there.

[2020-12-26 19:31] #529 closed

[2020-12-26 19:34] albertoabellagarcia commented on #511
Implemented in the [smart data models initiative](https://github.com/smart-data-models/dataModel.IssueTracking/tree/master)

[2020-12-26 19:34] #511 closed

[2020-12-26 19:35] albertoabellagarcia commented on #510
move to this [repo][https://github.com/smart-data-models/dataModel.IssueTracking/tree/master)

[2020-12-26 19:35] #510 closed

[2020-12-26 19:35] #483 closed

[2020-12-26 19:38] albertoabellagarcia commented on #477
Harvesting services should be done in a specific repo. This is not longer active

[2020-12-26 19:38] #477 closed